@model EditPersonnelArea

@using (Form.BeginForm("Update", "PersonnelArea", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.PersonnelAreaId)
        @Html.EditorFor(x => x.Description)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search")
        </text>)
    </div>
}