@model MapCallMVC.Areas.Operations.Models.ViewModels.SearchOccurrence
@using (Form.BeginForm("Index", "Occurrence"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Employee)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}