@model UnionContract

<div class="field-column fc200">
@Html.DisplayFor(x => x.OperatingCenter.Name)
@Html.DisplayFor(x => x.Local.Name)
@Html.DisplayFor(x => x.Local.Union.BargainingUnit)
@Html.DisplayFor(x => x.StartDate)
@Html.DisplayFor(x => x.EndDate)
@Html.DisplayFor(x => x.PercentIncreaseYr1)
@Html.DisplayFor(x => x.PercentIncreaseYr2)
@Html.DisplayFor(x => x.PercentIncreaseYr3)
@Html.DisplayFor(x => x.PercentIncreaseYr4)
@Html.DisplayFor(x => x.PercentIncreaseYr5)
@Html.DisplayFor(x => x.PercentIncreaseYr6)
@Html.DisplayFor(x => x.NewContractExpirationDate)
@Html.DisplayFor(x => x.NewContractEffectiveDate)
@Html.DisplayFor(x => x.TermOfContract)
@Html.DisplayFor(x => x.DateOfMoa)
@Html.DisplayFor(x => x.CompanyNegotiatingCommittee)
@Html.DisplayFor(x => x.UnionNegotiatingCommittee)
@Html.DisplayFor(x => x.ContractExtended)
@Html.DisplayFor(x => x.ContractExtensionDate)
@Html.DisplayFor(x => x.CompanyKeyObjectivesSummary)
@Html.DisplayFor(x => x.RatificationVoteFor)
@Html.DisplayFor(x => x.RatificationVoteAgainst)
@Html.DisplayFor(x => x.TotalBargainingUnitMembers)
@Html.DisplayFor(x => x.Notes)
@Html.DisplayFor(x => x.Retroactivity)
</div>