@model CreateUnionContract

@using (Form.BeginForm("Create", "UnionContract")) {
    <div class="field-column fc200">
        @Html.DisplayFor(m => m.Id)
        
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "UnionContract")
                           </text>)
   </div>
}