@model MapCallMVC.Areas.Operations.Models.ViewModels.SearchAuthenticationLog
    
@using (Form.BeginForm("Index", "AuthenticationLog"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.User)
        @Html.EditorFor(x => x.LoggedInAt)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}