@using MapCallMVC.Areas.FieldOperations.Models.ViewModels
@model CreateServicePremiseContactViewModel

@using (Form.BeginRouteForm("Service", "ServicePremiseContact", null, ManyToManyRouteAction.Add))
{
    <div class="field-column fc200">
         @Control.HiddenFor(x => x.Id)
         @Html.EditorFor(x => x.ViewModel.ContactDate)
         @Html.EditorFor(x => x.ViewModel.ContactMethod)
         @Html.EditorFor(x => x.ViewModel.ContactType)
         @Html.EditorFor(x => x.ViewModel.NotifiedCustomerServiceCenter)
         @Html.EditorFor(x => x.ViewModel.CertifiedLetterSent)
         @Html.EditorFor(x => x.ViewModel.ContactInformation)
         @Html.EditorFor(x => x.ViewModel.CommunicationResults)
         @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save").WithId("save-customer-contact")
                               @Control.Button("Cancel").WithCssClass("cancel")
                            </text>)
    </div>
}