@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.Services.SearchService

@using (Form.BeginForm("Index", "Service")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.ServiceNumber)
        @Html.EditorFor(x => x.LegacyId)
        @Html.EditorFor(x => x.PremiseNumber)
        @Html.EditorFor(x => x.PremiseUnavailableReason)
        @Html.EditorFor(x => x.State, new { html = new { autofocus = "autofocus" } })
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.TownSection)
        @Html.EditorFor(x => x.Development)
        @Html.EditorFor(x => x.StreetNumber)
        @Html.EditorFor(x => x.ApartmentNumber)
        @Html.EditorFor(x => x.Street)
        @Html.EditorFor(x => x.CrossStreet)
        @Html.EditorFor(x => x.Block)
        @Html.EditorFor(x => x.Lot)
        @Html.EditorFor(x => x.Name)
        @Html.EditorFor(x => x.PhoneNumber)
        @Html.EditorFor(x => x.ServiceCategory)
        @Html.EditorFor(x => x.ServiceMaterial)
        @Html.EditorFor(x => x.PreviousServiceMaterial)
        @Html.EditorFor(x => x.CustomerSideMaterial)
        @Html.EditorFor(x => x.PreviousServiceCustomerMaterial)
        @Html.EditorFor(x => x.ServiceSize)
        @Html.EditorFor(x => x.CompanyOwned)
        @Html.EditorFor(x => x.PreviousServiceCustomerSize)
        @Html.EditorFor(x => x.TaskNumber1)
        @Html.EditorFor(x => x.LeadServiceReplacementWbs)
        @Html.EditorFor(x => x.LeadServiceRetirementWbs)
        @Html.EditorFor(x => x.DateInstalled)
        @Html.EditorFor(x => x.UpdatedAt)
        @Html.EditorFor(x => x.ContactDate)
        @Html.EditorFor(x => x.ServiceInstallationPurpose)
        @Html.EditorFor(x => x.ServicePriority)
        @Html.EditorFor(x => x.IsActive)
        @Html.EditorFor(x => x.DeveloperServicesDriven)
        @Html.EditorFor(x => x.Installed)
        @Html.EditorFor(x => x.WorkIssuedTo)
        @Html.EditorFor(x => x.IssuedToField)
        @Html.EditorFor(x => x.Invoiced)
        @Html.EditorFor(x => x.Contacted)
        @Html.EditorFor(x => x.InstallationInvoiceDate)
        @Html.EditorFor(x => x.HasTapImages)
        @Html.EditorFor(x => x.SAPErrorCode)
        @Html.EditorFor(x => x.ServiceRegroundingPremiseType)
        @Html.EditorFor(x => x.SubfloorCondition)
        @Html.EditorFor(x => x.ProjectManager)
        @Html.EditorFor(x => x.YearOfHomeConstruction)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}