@model WorkOrderInvoice

<div class="field-column fc200">
    @Html.DisplayFor(x => x.ScheduleOfValuesMatchWorkOrderScheduleOfValues)
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.InvoiceDate)
    @Html.DisplayFor(x => x.ScheduleOfValueType)
    @Html.DisplayFor(x => x.IncludeMaterials)
    @Html.DisplayFor(x => x.WorkOrder)
    @Html.DisplayFor(x => x.WorkOrderInvoiceStatus)
    @Html.DisplayFor(x => x.SubmittedDate)
    @Html.DisplayFor(x => x.CanceledDate)
    @Html.DisplayFor(x => x.InvoiceNotes)

</div>