@model MapCallMVC.Areas.Reports.Models.SearchOpenIssuedServicesReport

@using (Form.BeginForm("Index", "OpenIssuedServices"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.WorkIssuedTo)
        @Html.EditorFor(x => x.DateIssuedToField)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}