@model EchoshoreLeakAlert
<div class="field-column fc200">
    @Html.DisplayFor(x => x.PersistedCorrelatedNoiseId)
    @Html.DisplayFor(x => x.DatePCNCreated)
    @Html.DisplayFor(x => x.FieldInvestigationRecommendedOn)
    @Html.DisplayFor(x => x.PointOfInterestStatus)
    @Html.DisplayFor(x => x.Hydrant1)
    @Html.DisplayFor(x => x.Hydrant1Text)
    @Html.DisplayFor(x => x.Hydrant2)
    @Html.DisplayFor(x => x.Hydrant2Text)
    @Html.DisplayFor(x => x.DistanceFromHydrant1)
    @Html.DisplayFor(x => x.DistanceFromHydrant2)
    @Html.DisplayFor(x => x.Note)
    @Html.DisplayFor(x => x.EchoshoreSite)
</div>