@model TrainingContactHoursProgramCoordinatorViewModel

@using (Form.BeginForm("Update", "TrainingContactHoursProgramCoordinator", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.DisplayFor(x => x.Id)
        @Html.EditorFor(x => x.ProgramCoordinator)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "TrainingContactHoursProgramCoordinator", new { Model.Id })
        </text>)
    </div>
}