@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchCompletedWorkOrdersWithPreJobSafetyBriefs
           
@using (Form.BeginForm("Index", "CompletedWorkOrdersWithPreJobSafetyBriefs"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.DateCompleted)
        @Html.EditorFor(x => x.WorkDescription)
        @Html.EditorFor(x => x.IsAssignedContractor)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}