@model WaterConstituent

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.Min)
    @Html.DisplayFor(x => x.Max)
    @Html.DisplayFor(x => x.Mcl)
    @Html.DisplayFor(x => x.Mclg)
    @Html.DisplayFor(x => x.Smcl)
    @Html.DisplayFor(x => x.ActionLimit)
    @Html.DisplayFor(x => x.UnitOfMeasure)
    @Html.DisplayFor(x => x.Regulation)
    @Html.DisplayFor(x => x.SamplingFrequency)
    @Html.DisplayFor(x => x.SamplingMethod)
    @Html.DisplayFor(x => x.SampleContainerSizeMl)
    @Html.DisplayFor(x => x.HoldingTimeHrs)
    @Html.DisplayFor(x => x.PreservativeQuenchingAgent)
    @Html.DisplayFor(x => x.AnalyticalMethod)
    @Html.DisplayFor(x => x.TatBellvileDays)
    @Html.DisplayFor(x => x.DrinkingWaterContaminantCategory)
    @Html.DisplayFor(x => x.WasteWaterContaminantCategory)
</div>