@model MapCallMVC.Areas.WaterQuality.Models.ViewModels.SearchWaterConstituent

@using (Form.BeginForm("Index", "WaterConstituent")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.EntityId)
        @Html.EditorFor(x => x.Description)
        @Html.EditorFor(x => x.SamplingFrequency)
        @Html.EditorFor(x => x.NoEPALimits)
        @Html.EditorFor(x => x.WasteWaterContaminantCategory)
        @Html.EditorFor(x => x.DrinkingWaterContaminantCategory)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}