@model MapCallMVC.Areas.Environmental.Models.ViewModels.SearchWaterSampleComplianceForm

@using (Form.BeginForm("Index", "WaterSampleComplianceForm")) {
    <div class="field-column fc200 search-fields">
		@Html.EditorFor(x => x.OperatingCenter)
		@Html.EditorFor(x => x.PublicWaterSupply)
		@Html.EditorFor(x => x.State)
		@Html.EditorFor(x => x.DateCertified)
		@Html.EditorFor(x => x.CertifiedMonth)
		@Html.EditorFor(x => x.CertifiedYear)


        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}