@model UnionContractProposal

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Contract.Id)
    @Html.DisplayFor(x => x.CrossReferenceNumber)
    @Html.DisplayFor(x => x.ProposalDescription)
    @Html.DisplayFor(x => x.Prioritization)
    @Html.DisplayFor(x => x.NegotiationTiming)
    @Html.DisplayFor(x => x.NegotiationStrategy)
    @Html.DisplayFor(x => x.Flag)
    @Html.DisplayFor(x => x.Grouping)
    @Html.DisplayFor(x => x.StrikeProposal)
    @Html.DisplayFor(x => x.Reviewed)
    @Html.DisplayFor(x => x.PrintingSequence)
    @Html.DisplayFor(x => x.ProposalClosedDate)
    @Html.DisplayFor(x => x.PrimaryDriverForProposal)
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.ManagementOrUnion)
    @Html.DisplayFor(x => x.AffectedDepartment)
    @Html.DisplayFor(x => x.TargetValueOfChange)
    @Html.DisplayFor(x => x.ValuationAssumptions)
    @Html.DisplayFor(x => x.ImpactOfChange)
    @Html.DisplayFor(x => x.ToAchieveBenefitOfChange)
    @Html.DisplayFor(x => x.ImpactOnAttendance)
    @Html.DisplayFor(x => x.ImpactOnBenefits)
    @Html.DisplayFor(x => x.ImpactOnCustomerService)
    @Html.DisplayFor(x => x.ImpactOnEconomics)
    @Html.DisplayFor(x => x.ImpactOnHealthSafety)
    @Html.DisplayFor(x => x.ImpactOnManagementsRights)
    @Html.DisplayFor(x => x.ImpactOnOperationalEfficiency)
    @Html.DisplayFor(x => x.ImpactOnOvertime)
    @Html.DisplayFor(x => x.ImpactOnRegulatoryCompliance)
    @Html.DisplayFor(x => x.ImpactOnStaffingLevels)
    @Html.DisplayFor(x => x.CostModelNeeded)
    @Html.DisplayFor(x => x.CurrentPageNumber)
    @Html.DisplayFor(x => x.TalkingPoints)
    @Html.DisplayFor(x => x.Notes)
    @Html.DisplayFor(x => x.Sme)
</div>