@model PipeDataLookupValue

<div class="field-column fc200">
    @Html.DisplayFor(x => x.PipeDataLookupType)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.VariableScore)
    @Html.DisplayFor(x => x.PriorityWeightedScore)
    @Html.DisplayFor(x => x.IsEnabled)
    @Html.DisplayFor(x => x.IsDefault)
</div>