@model RiskRegisterAsset

<div class="esri-info">
    <div class="field-column fc100">
        @Html.RenderDisplayTemplate(@Html.LabelFor(x => x.Id), @Html.DefaultActionLink(Model.Id.ToString(), "Show", "RiskRegisterAsset", "Engineering", new { id = Model.Id }, new { target = "_blank" }))
        @Html.DisplayFor(x => x.State)
        @Html.DisplayFor(x => x.OperatingCenter)
        @Html.DisplayFor(x => x.PublicWaterSupply)
        @Html.DisplayFor(x => x.WasteWaterSystem)
        @Html.DisplayFor(x => x.RiskRegisterAssetGroup)
        @Html.DisplayFor(x => x.RiskRegisterAssetCategory)
        @Html.DisplayFor(x => x.IdentifiedAt)
    </div>
</div>
