@model PositionGroup

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Group)
    @Html.DisplayFor(x => x.PositionDescription)
    @Html.DisplayFor(x => x.BusinessUnit)
    @Html.DisplayFor(x => x.BusinessUnitDescription)
    @Html.DisplayFor(x => x.SAPCompanyCode)
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.CommonName)
    @Html.DisplayFor(x => x.SAPPositionGroupKey)
</div>