@model ChemicalDelivery

<div class="field-column fc200">
@Html.DisplayFor(x => x.Storage)
@Html.DisplayFor(x => x.UnitCost)
@Html.DisplayFor(x => x.Chemical)
@Html.DisplayFor(x => x.DateOrdered)
@Html.DisplayFor(x => x.ScheduledDeliveryDate)
@Html.DisplayFor(x => x.ActualDeliveryDate)
@Html.DisplayFor(x => x.ConfirmationInformation)
@Html.DisplayFor(x => x.ReceiptNumberJde)
@Html.DisplayFor(x => x.BatchNumberJde)
@Html.DisplayFor(x => x.EstimatedDeliveryQuantityGallons)
@Html.DisplayFor(x => x.ActualDeliveryQuantityGallons)
@Html.DisplayFor(x => x.EstimatedDeliveryQuantityPounds)
@Html.DisplayFor(x => x.ActualDeliveryQuantityPounds)
@Html.DisplayFor(x => x.DeliveryTicketNumber)
@Html.DisplayFor(x => x.DeliveryInstructions)
@Html.DisplayFor(x => x.SplitFacilityDelivery)
@Html.DisplayFor(x => x.SecurityInformation)
</div>