@model MapCallMVC.Areas.Facilities.Models.ViewModels.EditMainCrossing
           
@using (Form.BeginForm("Update", "MainCrossing", "Facilities", new {Model.Id }))
{
    <div class="field-column fc200">
        @Html.DisplayFor(m => m.Id)
        @Html.Partial("_Form")
        @Html.EditorFor(x => x.DateRetired)
        @Html.DisplayFor(x => x.RequiresInspection)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "MainCrossing", new { Model.Id })
        </text>)
    </div>
}