@model WorkOrderScheduleOfValue
@using MapCall.Common.Model.Entities.Users
@using MMSINC.Authentication
@using MMSINC.Metadata

<tr>
	<td>@Html.DisplayTextFor(x => x.ScheduleOfValue.ScheduleOfValueCategory)</td>
    <td>@Html.DisplayTextFor(x => x.ScheduleOfValue)</td>
    <td>@Html.DisplayTextFor(x => x.OtherDescription)</td>
    <td>@Html.DisplayTextFor(x => x.Total)</td>
	<td>@Html.DisplayTextFor(x => x.ScheduleOfValue.UnitOfMeasure)</td>
    <td>@Html.DisplayTextFor(x => x.IsOvertime)</td>
    <td>
        <div>
            @Ajax.ActionLink("Edit", "Edit", "WorkOrderScheduleOfValue", new { Model.Id }, new AjaxOptions { HttpMethod = "GET" })
        </div>
        <div>
            @{
                var meh = Ajax.SecureActionLink<User>(_container.GetInstance<ISecureFormTokenService>(), _container.GetInstance<IAuthenticationService<User>>().CurrentUser,
                    "Delete", "Destroy", "WorkOrderScheduleOfValue", new { area = "FieldOperations", id = Model.Id }, new AjaxOptions { HttpMethod = "DELETE", Confirm = "Are you sure you want to delete this record?" });
                @meh
            }
        </div>
    </td>
</tr>