@using MapCallMVC.Areas.Production.Models.ViewModels
@model SearchSchedulingProductionWorkOrder

@using (Form.BeginForm("RemoveEmployeeAssignments", "ProductionWorkOrder", "Production"))
{
    @(Html.TableFor(_ => Model, new { id = "schedulingTable", @class = "results-table" })
          .WithCaption("Records found: " + Model.Count)
          .SortableTemplateColumnFor("Id", x => Html.ActionLink(x.Id.ToString(), "Show", "ProductionWorkOrder", new { x.Id, area = "Production" }, null))
          .SortableColumnFor(x => x.DateReceived, "Date Received", "DateReceived")
          .SortableColumnFor(x => x.OperatingCenter)
          .SortableColumnFor(x => x.FacilityFacilityArea.FacilityArea)
          .SortableColumnFor(x => x.FacilityFacilityArea.FacilitySubArea)
          .TemplateColumnFor("Notes", x =>
              @<ul>
                  @Html.Raw(string.Join("", x.Notes.Select(n => "<li>" + n.Text + "</li>")))
              </ul>)
          .SortableColumnFor(x => x.ProductionWorkDescription, "ProductionWorkDescription.Description")
          .SortableColumnFor(x => x.LocalTaskDescription)
          .SortableColumnFor(x => x.ProductionWorkDescription.OrderType, "ProductionWorkDescription.OrderType")
          .SortableColumnFor(x => x.Priority)
          .TemplateColumnFor("Current Assignment", x => @<text>
                @if (!x.CurrentAssignments.Any())
                {
                    <text>n/a</text>
                }
                else
                {
                    foreach (var assignment in x.CurrentAssignments)
                    {
                        <div style="display:flex; align-items:center; width:180px; margin:2px;">
                            @Control.CheckBox("EmployeeAssignmentIds").WithId("EmployeeAssignmentId_" + assignment.Id).WithValue(assignment.Id)
                            <label for=@("EmployeeAssignmentId_" + assignment.Id)>@assignment.AssignedTo - @assignment.AssignedFor.ToShortDateString()</label>
                        </div>
                    }
                }
                                                         </text>)
          .SortableColumnFor(x => x.EstimatedCompletionHours)
          .SortableColumnFor(x => x.WBSElement)
    )
    <br />
    @Control.SubmitButton("Remove Selected Assignments")
    <br />
    <br />
}