@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchKPIHydrantInspectionsByMonth

@using (Form.BeginForm("Index", "KPIHydrantInspectionByMonth"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Year)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}