@model WorkOrder
@{
    ViewBag.Title = "Work Order Print Form";
    Layout = "~/Views/Shared/_NoFrills.cshtml";
}
@section styles {
    @Html.StylesheetFor("~/Content/WorKOrderFinalization/Show.css")
}
@section scripts {
    @* This is needed for a single regression test. This existing shouldn't matter since this should already be cached. *@
    @Scripts.Render("~/scripts/site-js")
}
@if (Model == null)
{
    <h3 id="heading">Work Order Does Not Exist</h3>
}
else
{
    <div class="container_12" id="mainWrapper">
        <div class="grid_3 bold">
            Order Number: <span id="WorkOrderID">@Html.DisplayValueFor(m => m.Id)</span>
        </div>
        <div class="grid_4 bold" style="text-align: center">
            271-Field Services Work Order
        </div>
        <div class="grid_2 fine-print" style="text-align: center">
            * Show time in 1/4 hrs (.25, .50, etc.)
        </div>
        <div class="grid_2 fine-print" style="text-align: center">
            Printed On<br />
            @DateTime.Today.ToString("MM/dd/yyyy")
        </div>
        <div class="grid_1 fine-print" style="text-align: center">
            Updated On<br />
            @* This is here in 271 but it does nothing. *@
        </div>
        <div class="grid_4 full-border" id="dateDiv">
            <table>
                <tr>
                    <td class="bold">
                        Date Received:
                    </td>
                    <td id="DateReceived">
                        @Html.DisplayValueFor(m => m.DateReceived, MMSINC.Utilities.CommonStringFormats.DATE)
                    </td>
                </tr>
                <tr>
                    <td class="bold">
                        Date Started:
                    </td>
                    <td id="DateStarted">
                        @Html.DisplayValueFor(m => m.DateStarted)
                    </td>
                </tr>
                <tr>
                    <td class="bold">
                        Date Completed:
                    </td>
                    <td id="DateCompleted">
                        @Html.DisplayValueFor(m => m.DateCompleted)
                    </td>
                </tr>
                <tr>
                    <td class="bold">
                        Requested By:
                    </td>
                    <td>
                        @* Contractors don't get to see this *@
                    </td>
                </tr>
            </table>
        </div>
        <div class="grid_8 full-border" id="locationInfoDiv">
            <div class="grid_4">
                <table class="padded">
                    <tr>
                        <th>Address</th>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td id="CustomerName">
                            @* Contractors don't get to see this *@
                        </td>
                    </tr>
                    <tr>
                        <td id="StreetAddress">
                            @Html.DisplayValueFor(m => m.StreetAddress)
                        </td>
                    </tr>
                    <tr>
                        <td id="TownAddress">
                            @Html.DisplayValueFor(m => m.TownAddress)
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size: small;">
                            Nearest Cross St:
                            @Html.DisplayValueFor(m => m.NearestCrossStreet.FullStName)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid_4" style="border-left: 2px solid black;">
                <table class="padded">
                    <tr>
                        <td class="bold">
                            Service Number<br />
                            Hyd/Valve/BO:
                        </td>
                        <td id="AssetID">
                            @Html.DisplayValueFor(m => m.Asset.Identifier)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Service Order #:
                        </td>
                        <td id="ORCOMServiceOrderNumber">
                            @Html.DisplayValueFor(m => m.ORCOMServiceOrderNumber)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Premise Number:
                        </td>
                        <td id="PremiseNumber">
                            @Html.DisplayValueFor(m => m.PremiseNumber)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Phone Number:
                        </td>
                        <td id="PhoneNumber">
                            @Html.DisplayValueFor(m => m.PhoneNumber)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Markout Required:
                        </td>
                        <td>
                            @Html.DisplayValueFor(m => m.MarkoutRequired)
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="grid_12 full-border">
            <div class="grid_5">
                <table class="padded" id="jobDescriptionTable">
                    <tr style="height: 40px;">
                        <td class="bold">
                            Description of Job:
                        </td>
                        <td id="WorkDescription">
                            @Html.DisplayValueFor(m => m.WorkDescription)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Created By:
                        </td>
                        <td>
                           @* Contractors don't get to see this *@
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Priority:
                        </td>
                        <td>
                            @Html.DisplayValueFor(m => m.Priority)
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Backhoe Operator:
                        </td>
                        <td>
                            @* Nothing happens here in 271 *@
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">
                            Date of Excavation:
                        </td>
                        <td id="ExcavationDate">
                            @Html.DisplayValueFor(m => m.ExcavationDate, MMSINC.Utilities.CommonStringFormats.DATE)
                        </td>
                    </tr>
                </table>
            </div>
            <div class="grid_7">
                <table id="jobInfoTable" class="padded">
                    <thead>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <th>
                                1st
                            </th>
                            <th>
                                2nd
                            </th>
                            <th>
                                3rd
                            </th>
                            <th>
                                4th
                            </th>
                            <th>
                                5th
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>
                                Employee Assigned:
                            </th>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th>
                                # Employees Assigned:
                            </th>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Time Arrived on Job:
                            </th>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th>
                                *Total Time to Complete:
                            </th>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Truck #:
                            </th>
                            <td>
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="grid_12 full-border" id="markoutDiv">
            @* row 1 *@
            <div class="grid_4 bold">
                Type of Markout:&nbsp;<span id="MarkoutRequirement">@Html.DisplayValueFor(m => m.MarkoutRequirement)</span>
            </div>
            <div class="grid_4 bold">
	            Markout Number:&nbsp;<span id="CurrentMarkoutNumber">
		            @if (Model.CurrentMarkout != null && Model.CurrentMarkout.Markout != null)
		            {
			            @Html.DisplayValueFor(m => m.CurrentMarkout.Markout.MarkoutNumber)
		            }
	            </span>
            </div>
            <div class="grid_3 bold">
                2nd Req. Number&nbsp;<span id="LastMarkoutNumber">@Html.DisplayValueFor(m => m.LastMarkout.MarkoutNumber)</span>
            </div>
            @* row 2 *@
            <div class="grid_3">
	            <span class="bold">Date Requested:</span>&nbsp;<span id="CurrentMarkoutDateOfRequest">
		            @if (Model.CurrentMarkout != null && Model.CurrentMarkout.Markout != null)
		            {
			            @Html.DisplayValueFor(m => m.CurrentMarkout.Markout.DateOfRequest)
		            }
	            </span>
            </div>
            <div class="grid_3">
                <span class="bold">Time of Request:</span>&nbsp;<span id="CurrentMarkoutTimeOfDay">
					@if (Model.CurrentMarkout != null && Model.CurrentMarkout.Markout != null && Model.CurrentMarkout.Markout.DateOfRequest.HasValue)
					{
						@Html.DisplayValueFor(m => m.CurrentMarkout.Markout.DateOfRequest.Value.TimeOfDay)
					}
	            </span>
            </div>
            <div class="grid_3">
                <span class="bold">Due Date:</span>&nbsp;<span id="CurrentMarkoutReadyDate">@Html.DisplayValueFor(m => m.CurrentMarkout.ReadyDate)</span>
            </div>
            <div class="grid_2">
                <span class="bold">*M O Down Time:</span>&nbsp;
                @* MARKOUT DOWN TIME *@
            </div>
            @* row 3 *@
            <div class="grid_2">
                <span class="bold">Gas:</span>&nbsp;
                @* GAS MARKOUT *@
            </div>
            <div class="grid_2">
                <span class="bold">ATT:</span>&nbsp;
                @* ATT MARKOUT *@
            </div>
            <div class="grid_2">
                <span class="bold">Electric:</span>&nbsp;
                @* ELECTRIC MARKOUT *@
            </div>
            <div class="grid_2">
                <span class="bold">Telephone:</span>&nbsp;
                @* TELEPHONE MARKOUT *@
            </div>
            <div class="grid_2">
                <span class="bold">Sewer:</span>&nbsp;
                @* SEWER MARKOUT *@
            </div>
            <div class="grid_1">
                <span class="bold">Cable:</span>&nbsp;
                @* CABLE MARKOUT *@
            </div>
        </div>
        <div class="grid_12 full-border">
            <div class="grid_4" id="mainMaterialDiv">
                <table class="padded">
                    <thead>
                        <tr>
                            <th colspan="6">
                                Main Material
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Cast
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                PVC
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Transite
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Cement
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Galv
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Ductile
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Lock Joint
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid_4" id="serviceMaterialDiv">
                <table class="padded">
                    <thead>
                        <tr>
                            <th colspan="4">
                                Service Material
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Copper
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Galv
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Lead
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Tubaloyd
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Plastic
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid_4" id="typeOfLeakDiv">
                <table class="padded">
                    <thead>
                        <tr>
                            <th colspan="4">
                                Type of Leak
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Circle
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Physically Damaged
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Deteriorated
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Service Saddle
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Joint Leak
                            </td>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Split
                            </td>
                        </tr>
                        <tr>
                            <td class="underline">
                                &nbsp;
                            </td>
                            <td class="bold">
                                Pin Hole
                            </td>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid_12" id="assetInfoDiv">
                @* row 1 *@
                <div class="grid_3">
                    <span class="bold">Size of Main/Service:</span>&nbsp;
                    @* SIZE OF MAIN/SERVICE *@
                </div>
                <div class="grid_3">
                    <span class="bold">Depth of Main/Serivce (ft):</span>&nbsp;
                    @* DEPTH OF MAIN/SERVICE *@
                </div>
                <div class="grid_4">
                    <span class="bold">Condition of Main/Service:</span>&nbsp;
                    @* CONDITION OF MAIN/SERVICE *@
                </div>
                <div class="grid_2">
                    <span class="bold">Map Page:</span>&nbsp;
                    @* MAP PAGE *@
                </div>
                @* row 2 *@
                <div class="grid_4" style="width: 364px">
                    <span class="bold">Leak Between Or Near Valve Number:</span>&nbsp;
                    @* START VALVE NUMBER *@
                </div>
                <div class="grid_4">
                    <span class="bold">And Valve Number:</span>&nbsp;
                    @* END VALVE NUMBER *@
                </div>
                <div class="grid_3" style="width: 246px">
                    <span class="bold">Lost Water (Gallons):</span>&nbsp;<span id="LostWater">@Html.DisplayValueFor(m => m.LostWater)</span>
                </div>
                @* row 3 *@
                <div class="grid_4">
                    <span class="bold">Safety Markers Left On Site:</span>&nbsp;
                    @* MARKERS ON SITE *@
                </div>
                <div class="grid_4">
                    <span class="bold">Number of Markers:</span>&nbsp;
                    @* NUMBER OF MARKERS *@
                </div>
                <div class="grid_4" style="width: 304px">
                    <span class="bold">Safety Markers Retrieved:</span>&nbsp;
                    @* DATE MARKERS RETRIEVED *@
                </div>
            </div>
        </div>
        <div class="grid_12 full-border" id="materialsUsedDiv">
            <div style="width: 928px;height: 20px;font-weight: bold;text-align: center">
                Material Used (Include description, quantity, and part number. Put any additional
                parts on back of form.)
            </div>
            <table style="width: 928px; height: 205px" id="materialsUsedTable">
                <tbody>
                    <tr>
                        <td style="width: 340px">
                            &nbsp;
                        </td>
                        <td class="truck-cell" style="width: 35px">
                            Truck
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td class="truck-cell">
                            Truck
                        </td>
                        <td rowspan="3" style="border-style: none; width: 130px; height: 120px;">
                            <table id="materialsUsedAccountNumbersTable">
                                <tr>
                                    <td>
                                        MAINS
                                    </td>
                                    <td style="text-align: right">
                                        \18730174.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        SERV
                                    </td>
                                    <td style="text-align: right">
                                        \18730184.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        MTR SE
                                    </td>
                                    <td style="text-align: right">
                                        \18730186.
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        HYD
                                    </td>
                                    <td style="text-align: right">
                                        \18730189.
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        CAPITAL\RETIRE\MJ
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" style="border: 1px solid black" id="AccountCharged">
                                        @Html.DisplayValueFor(m => m.AccountCharged)
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td class="truck-cell">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td class="truck-cell">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;
                        </td>
                        <td class="truck-cell">
                            &nbsp;
                        </td>
                        <td>
                            &nbsp;
                        </td>
                        <td class="truck-cell">
                            &nbsp;
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="grid_12 full-border" id="notesDiv">
            <span class="bold">Notes:</span><br />
            <span id="Notes">@Html.DisplayValueFor(m => m.Notes)</span>
        </div>
        <div class="grid_4 prefix_4 suffix_4">
            Check if additional notes or paving on back: [&nbsp;&nbsp;]
        </div>
    </div>
}