@model ChemicalStorageLocation

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.PlanningPlant)
    @Html.DisplayFor(x => x.ChemicalWarehouseNumber)
    @Html.DisplayFor(x => x.StorageLocationNumber)
    @Html.DisplayFor(x => x.StorageLocationDescription)
    @Html.DisplayFor(x => x.IsActive)
</div>