@model MapCallMVC.Areas.Environmental.Models.ViewModels.SearchChemicalStorageLocation

@using (Form.BeginForm("Index", "ChemicalStorageLocation")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.PlanningPlant)
        @Html.EditorFor(x => x.ChemicalWarehouseNumber)
        @Html.EditorFor(x => x.StorageLocationNumber)
        @Html.EditorFor(x => x.StorageLocationDescription)
        @Html.EditorFor(x => x.IsActive)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}