@model MapCallMVC.Areas.HealthAndSafety.Models.ViewModels.BaseJobSiteCheckListViewModel
<div class="field-column fc-left-label fc600">
    @Html.EditorFor(x => x.AllEmployeesWearingAppropriatePersonalProtectionEquipment)
    @Html.EditorFor(x => x.HasTrafficControl)
    @Html.EditorFor(x => x.HasFlagPersonForTrafficControl)
    @Html.EditorFor(x => x.HasConesForTrafficControl)
    @Html.EditorFor(x => x.HasSignsForTrafficControl)
    @Html.EditorFor(x => x.HasBarricadesForTrafficControl)
    @Html.EditorFor(x => x.HasPoliceForTrafficControl)
    @Html.EditorFor(x => x.CompliesWithStandards)
    @Html.EditorFor(x => x.AllStructuresSupportedOrProtected)
</div>