@model MapCallMVC.Areas.Production.Models.ViewModels.SearchTaskGroupCategory

@using (Form.BeginForm("Index", "TaskGroupCategory", "Production"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.Type)
        @Html.EditorFor(x => x.IsActive)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}

