@model MapCall.Common.Model.Entities.PublicWaterSupplyFirmCapacity

<div class="field-column fc300">
    @Html.DisplayFor(x => x.PublicWaterSupply)
    @Html.DisplayFor(x => x.CurrentSystemPeakDailyDemandMGD)
    @Html.DisplayFor(x => x.CurrentSystemPeakDailyDemandYearMonth)
    @Html.DisplayFor(x => x.TotalSystemSourceCapacityMGD)
    @Html.DisplayFor(x => x.TotalCapacityFacilitySumMGD)
    @Html.DisplayFor(x => x.FirmCapacityMultiplier)
    @Html.DisplayFor(x => x.FirmSystemSourceCapacityMGD)
    @Html.DisplayFor(x => x.UpdatedAt)
</div>
