@model MapCall.Common.Model.ViewModels.ArcFlashCompletionReportItem

<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.TotalArcFlashFacilities)
    @Html.DisplayFor(x => x.NumberCompleted)
    @Html.DisplayFor(x => x.NumberPending)
    @Html.DisplayFor(x => x.NumberDeferred)
    @Html.DisplayFor(x => x.TotalCompletedNotDeferred)
</div>