@model MapCall.Common.Model.Entities.WasteWaterSystem

<h2>Waste Water System Updated</h2>

Waste Water System Id: <a href="@Model.RecordUrl">@Model.Id</a><br />
Operating Center: @Model.OperatingCenter<br />
WWSID: @Model.WasteWaterSystemId<br />
Waste Water System Name: @Model.WasteWaterSystemName<br />
Permit Number: @Model.PermitNumber