@model CompanyLaborCost
           
<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.Cost)
	@Html.DisplayFor(x => x.Unit)
    @Html.DisplayFor(x => x.LaborItem)
</div>