@model StandardOperatingProcedure

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Section)
    @Html.DisplayFor(x => x.SubSection)
    @Html.DisplayFor(x => x.PolicyPractice)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.FunctionalArea)
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.Category)
    @Html.DisplayFor(x => x.System)
    @Html.DisplayFor(x => x.SopCrossRefId)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.Facility)
    @Html.DisplayFor(x => x.EquipmentId)
    @Html.DisplayFor(x => x.DateApproved)
    @Html.DisplayFor(x => x.DateIssued)
    @Html.DisplayFor(x => x.Revision)
    @Html.DisplayFor(x => x.ReviewFrequencyDays)
    @Html.DisplayFor(x => x.PsmTcpa)
    @Html.DisplayFor(x => x.Dpcc)
    @Html.DisplayFor(x => x.Osha)
    @Html.DisplayFor(x => x.Company)
    @Html.DisplayFor(x => x.Sox)
    @Html.DisplayFor(x => x.Safety)
</div>
