@model Employee

    <div class="field-column fc200">
        @Html.DisplayFor(e => e.Status)
        @Html.DisplayFor(e => e.OperatingCenter.OperatingCenterCode)
        @Html.DisplayFor(e => e.Department)
        @Html.DisplayFor(e => e.PositionGroup)
        @Html.DisplayFor(x => x.PositionGroup.CommonName)
        @Html.DisplayFor(x => x.PersonnelArea)
        @Html.DisplayFor(x => x.CurrentPosition.Essential)
        @Html.DisplayFor(x => x.CurrentPosition.EmergencyResponsePriority)
        @Html.DisplayFor(x => x.ValidEssentialEmployeeCard)
        @Html.DisplayFor(x => x.GETSWPSCard)
        @Html.DisplayFor(e => e.ReportingFacility, new { DisplayName = "Reporting Facility" })
        @Html.DisplayFor(e => e.EmployeeId)
        @Html.DisplayFor(e => e.LastName)
        @Html.DisplayFor(e => e.FirstName)
        @Html.DisplayFor(e => e.MiddleName)
        @Html.DisplayFor(e => e.Gender)
        @Html.DisplayFor(e => e.DateHired)
        @Html.DisplayFor(e => e.SeniorityDate)
        @Html.DisplayFor(e => e.SeniorityRanking)
        @Html.DisplayFor(e => e.InactiveDate)
        @Html.DisplayFor(e => e.ReasonForDeparture)
        @Html.DisplayFor(e => e.ReportsTo.ProperName, new { DisplayName = "Reports To" })
        @Html.DisplayFor(e => e.HumanResourcesManager.ProperName, new { DisplayName = "Human Resources Manager" })
        @Html.DisplayFor(e => e.LicenseWaterTreatment)
        @Html.DisplayFor(e => e.TLicense)
        @Html.DisplayFor(e => e.DateOfTLicense)
        @Html.DisplayFor(e => e.LicenseWaterDistribution)
        @Html.DisplayFor(e => e.WLicense)
        @Html.DisplayFor(e => e.DateOfWLicense)
        @Html.DisplayFor(e => e.LicenseSewerCollection)
        @Html.DisplayFor(e => e.CLicense)
        @Html.DisplayFor(e => e.DateOfCLicense)
        @Html.DisplayFor(e => e.LicenseSewerTreatment)
        @Html.DisplayFor(e => e.SLicense)
        @Html.DisplayFor(e => e.DateOfSLicense)
        @Html.DisplayFor(e => e.LicenseIndustrialDischarge)
        @Html.DisplayFor(e => e.NLicense)
        @Html.DisplayFor(e => e.DateOfNLicense)
        @Html.DisplayFor(e => e.CDL)
        @Html.DisplayFor(e => e.DriversLicense)
        @Html.DisplayFor(e => e.EmergencyContactName)
        @Html.DisplayFor(e => e.EmergencyContactPhone)
        @Html.DisplayFor(e => e.Coordinate)
        @Html.DisplayFor(e => e.EmailAddress)
        @Html.DisplayFor(e => e.Address)
        @Html.DisplayFor(e => e.Address2)
        @Html.DisplayFor(e => e.City)
        @Html.DisplayFor(e => e.State)
        @Html.DisplayFor(e => e.ZipCode)
        @Html.DisplayFor(e => e.PhonePager)
        @Html.DisplayFor(e => e.PhoneCellular)
        @Html.DisplayFor(et => et.PhoneHome)
        @Html.DisplayFor(e => e.PhoneWork)
        @Html.DisplayFor(e => e.PhonePersonalCellular)
        @Html.DisplayFor(e => e.UnionAffiliation)
        @Html.DisplayFor(e => e.PurchaseCardNumber)
        @Html.DisplayFor(e => e.MonthlyDollarLimit)
        @Html.DisplayFor(e => e.SingleDollarLimit)
        @Html.DisplayFor(e => e.TCPAStatus)
        @Html.DisplayFor(e => e.DPCCStatus)
        @Html.DisplayFor(e => e.PurchaseCardReviewer.ProperName, new { DisplayName = "Purchase Card Reviewer" })
        @Html.DisplayFor(e => e.PurchaseCardApprover.ProperName, new { DisplayName = "Purchase Card Approver" })
        @Html.DisplayFor(e => e.InstitutionalKnowledge)
        @Html.DisplayFor(e => e.InstitutionalKnowledgeDescription)
        @Html.DisplayFor(x => x.CommercialDriversLicenseProgramStatus)
        @Html.DisplayFor(x => x.OneDayDoctorsNoteRestrictionEndDate)
        @Html.DisplayFor(x => x.ScheduleType)
    </div>
