@model ContractorOverrideLaborCost
           
<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Contractor)
    @Html.DisplayFor(x => x.ContractorLaborCost)
    @Html.DisplayFor(x => x.Cost)
    @Html.DisplayFor(x => x.EffectiveDate)
</div>
