@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchWaterLoss

@using (Form.BeginForm("Index", "WaterLossManagement"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Date)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}