@model StreetOpeningPermit
           
<tr>    
    <td>@Html.DisplayValueFor(m => m.StreetOpeningPermitNumber)</td>
    <td>@Html.DisplayValueFor(m => m.DateRequested)</td>
    <td>@Html.DisplayValueFor(m => m.DateIssued)</td>
    <td>@Html.DisplayValueFor(m => m.ExpirationDate)</td>
    <td>@Html.DisplayValueFor(m => m.Notes)</td>
</tr>