@model MapCallMVC.Areas.Facilities.Models.ViewModels.InterconnectionViewModel

<div class="field-column fc300">
<div>
    @Html.EditorFor(x => x.FluoridatedSupplyReceivingPurveyor)
    @Html.EditorFor(x => x.FluoridatedSupplyDeliveryPurveyor)
</div>

<div>
    @Html.EditorFor(x => x.ChloramineResidualReceivingPurveyor)
    @Html.EditorFor(x => x.ChloramineResidualDeliveryPurveyor)
</div>

<div>
    @Html.EditorFor(x => x.CorrosionInhibitorReceivingPurveyor)
    @Html.EditorFor(x => x.CorrosionInhibitorDeliveryPurveyor)
</div>
</div>