@model Interconnection

<div class="field-column fc300">
<div>
    @Html.DisplayFor(x => x.FluoridatedSupplyReceivingPurveyor)
    @Html.DisplayFor(x => x.FluoridatedSupplyDeliveryPurveyor)
</div>

<div>
    @Html.DisplayFor(x => x.ChloramineResidualReceivingPurveyor)
    @Html.DisplayFor(x => x.ChloramineResidualDeliveryPurveyor)
</div>

<div>
    @Html.DisplayFor(x => x.CorrosionInhibitorReceivingPurveyor)
    @Html.DisplayFor(x => x.CorrosionInhibitorDeliveryPurveyor)
</div>
</div>