@model DevelopmentProject

<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.StreetName)
    @Html.DisplayFor(x => x.Category)
    @Html.DisplayFor(x => x.BusinessUnit)
    @Html.DisplayFor(x => x.ProjectManager)
    @Html.DisplayFor(x => x.PublicWaterSupply)
    @Html.DisplayFor(x => x.DeveloperServicesId)
    @Html.DisplayFor(x => x.WBSNumber)
    @Html.DisplayFor(x => x.ProjectDescription)
    @Html.DisplayFor(x => x.CreatedBy)
    @Html.DisplayFor(x => x.ForecastedInServiceDate)
    @Html.DisplayFor(x => x.InServiceDate)
    @Html.DisplayFor(x => x.DomesticWaterServices)
    @Html.DisplayFor(x => x.FireServices)
    @Html.DisplayFor(x => x.DomesticSanitaryServices)
</div>