@model Contractors.Models.ViewModels.SearchValveImage
@{
	ViewBag.Title = "Valve Images";
}
@using (Form.BeginForm("Index", "ValveImage"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.ValveNumber)
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.County)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.TownSection)
        @Html.EditorFor(x => x.StreetNumber)
        @Html.EditorFor(x => x.StreetPrefix)
        @Html.EditorFor(x => x.Street)
        @Html.EditorFor(x => x.StreetSuffix)
        @Html.EditorFor(x => x.CrossStreet)
        @Html.EditorFor(x => x.DateCompleted)
        @Html.EditorFor(x => x.ValveSize)
        @Html.EditorFor(x => x.Location)
        @Html.EditorFor(x => x.OpenDirection)
        @Html.EditorFor(x => x.NormalPosition)
        @Html.EditorFor(x => x.NumberOfTurns)
        @Html.EditorFor(x => x.EntityId)
        @Html.EditorFor(x => x.HasAsset)
        @Html.EditorFor(x => x.OfficeReviewRequired)
        @Html.EditorFor(x => x.HasValidValveNumber)
        @Html.EditorFor(x => x.CreatedAt)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}