@model BappTeamIdea

<div class="field-column fc200">
    @Html.DisplayFor(x => x.BappTeam.OperatingCenter)
    @Html.DisplayFor(x => x.BappTeam)
    @Html.DisplayFor(x => x.Contact)
    @Html.DisplayFor(x => x.SafetyImplementationCategory)
    @Html.DisplayFor(x => x.Description)
</div>