@model SearchBappTeamIdea

@using (Form.BeginForm("Index", "BappTeamIdea"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.BappTeam, new {Container = @Model})
        @Html.EditorFor(x => x.Contact)
        @Html.EditorFor(x => x.SafetyImplementationCategory)
        @Html.EditorFor(x => x.CreatedAt)
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Search").WithId("Search")
                               @Control.ResetButton()
                           </text>)
    </div>
}    