@model EmployeeHeadCount

<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter.State)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.BusinessUnit)
    @Html.DisplayFor(x => x.BusinessUnit.Department)
    @Html.DisplayFor(x => x.BusinessUnit.Area)
    @Html.DisplayFor(x => x.Year)
    @Html.DisplayFor(x => x.StartDate)
    @Html.DisplayFor(x => x.EndDate)
    @Html.DisplayFor(x => x.Category)
    @Html.DisplayFor(x => x.NonUnionCount)
    @Html.DisplayFor(x => x.UnionCount)
    @Html.DisplayFor(x => x.OtherCount)
    @Html.DisplayFor(x => x.TotalCount)
    @Html.DisplayFor(x => x.MiscNotes)
    @Html.DisplayFor(x => x.CreatedBy)
    @Html.DisplayFor(x => x.CreatedAt)
</div>