@model WasteWaterSystemBasin

    <div class="field-column fc200">
        @Html.DisplayFor(x => x.Id)
        @Html.DisplayFor(x => x.WasteWaterSystem)
        @Html.DisplayFor(x => x.BasinName)
        @Html.DisplayFor(x => x.FirmCapacityDateUpdated)
        @Html.DisplayFor(x => x.FirmCapacity)
        @Html.DisplayFor(x => x.FirmCapacityUnderStandbyPower)
    </div>