@model MapCallMVC.Areas.Environmental.Models.ViewModels.SearchWasteWaterSystemBasin

@using (Form.BeginForm("Index", "WasteWaterSystemBasin", "Environmental")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.WasteWaterSystem)
        @Html.EditorFor(x => x.Id)
        @Html.EditorFor(x => x.BasinName)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}