@model SampleIdMatrix

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.RoutineSample)
    @Html.RenderDisplayTemplate("Sample Site", Html.ActionLink(Model.SampleSite.ToString(), "Show", "SampleSite", new { Model.SampleSite.Id, area = "WaterQuality" }, null))
    @Html.DisplayFor(x => x.WaterConstituent)
    @Html.DisplayFor(x => x.ProcessStage)
    @Html.DisplayFor(x => x.ProcessStageSequence)
    @Html.DisplayFor(x => x.ParameterSequence)
    @Html.DisplayFor(x => x.Parameter)
    @Html.DisplayFor(x => x.SamplePurpose)
    @Html.DisplayFor(x => x.ProcessReasonForSample)
    @Html.DisplayFor(x => x.PerformedBy)
    @Html.DisplayFor(x => x.Frequency)
    @Html.DisplayFor(x => x.DataStorageLocation)
    @Html.DisplayFor(x => x.MethodInstrumentLaboratory)
    @Html.DisplayFor(x => x.TatBellvilleLabHrs)
    @Html.DisplayFor(x => x.BellevilleSampleId)
    @Html.DisplayFor(x => x.InterferenceBy)
    @Html.DisplayFor(x => x.DataStorageLocationOnLineInstrument)
    @Html.DisplayFor(x => x.IHistorianSignalIdOnLineInstrument)
    @Html.DisplayFor(x => x.ComplianceReq)
    @Html.DisplayFor(x => x.ProcessTarget)
    @Html.DisplayFor(x => x.TriggerPhase1)
    @Html.DisplayFor(x => x.ActionPhase1)
    @Html.DisplayFor(x => x.TriggerPhase2)
    @Html.DisplayFor(x => x.ActionPhase2)
    @Html.DisplayFor(x => x.Comment)
    @Html.DisplayFor(x => x.ScadaNotes)
</div>