@model MapCallMVC.Areas.Reports.Models.SearchFacilityRiskCharacteristicData

@using (Form.BeginForm("Index", "FacilityRiskCharacteristicData"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.TownState)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.PlanningPlant)
        @Html.EditorFor(x => x.Id)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}