@model SearchOperatingCenterTrainingOverview
           
@using (Form.BeginForm("Index", "OperatingCenterTrainingOverview", "Reports"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.IsOSHARequirement)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}