@model ArcFlashStudy

    <div class="field-column fc200">
        @Html.DisplayFor(x => x.ArcFlashStatus)
        @Html.DisplayFor(x => x.DateLabelsApplied)
        @Html.DisplayFor(x => x.Priority)
        @Html.RenderDisplayTemplate("Facility", Html.ActionLink(Model.Facility.ToString(), "Show", "Facility", new { Model.Facility.Id, area = "" }, null))
        @Html.DisplayFor(x => x.FacilitySize)
        @Html.DisplayFor(x => x.PowerCompanyDataReceived)
        @Html.DisplayFor(x => x.UtilityCompanyDataReceivedDate)
        @Html.DisplayFor(x => x.AFHAAnalysisPerformed)
        @Html.DisplayFor(x => x.TypeOfArcFlashAnalysis)
        @Html.DisplayFor(x => x.ArcFlashLabelType)
        @Html.DisplayFor(x => x.UtilityCompany)
        @Html.DisplayFor(x => x.UtilityCompanyOther)
        @Html.DisplayFor(x => x.UtilityAccountNumber)
        @Html.DisplayFor(x => x.UtilityMeterNumber)
        @Html.DisplayFor(x => x.UtilityPoleNumber)
        @Html.DisplayFor(x => x.PrimaryVoltageKV)
        @Html.DisplayFor(x => x.Voltage)
        @Html.DisplayFor(x => x.PowerPhase)
        @Html.DisplayFor(x => x.TransformerKVARating)
        @Html.DisplayFor(x => x.TransformerKVAFieldConfirmed)
        @Html.DisplayFor(x => x.TransformerResistancePercentage)
        @Html.DisplayFor(x => x.TransformerReactancePercentage)
        @Html.DisplayFor(x => x.FacilityTransformerWiringType)
        @Html.DisplayFor(x => x.PrimaryFuseSize)
        @Html.DisplayFor(x => x.PrimaryFuseType)
        @Html.DisplayFor(x => x.PrimaryFuseManufacturer)
        @Html.DisplayFor(x => x.LineToLineFaultAmps)
        @Html.DisplayFor(x => x.LineToLineNeutralFaultAmps)
        @Html.DisplayFor(x => x.ArcFlashNotes)
        @Html.DisplayFor(x => x.ArcFlashContractor)
        @Html.DisplayFor(x => x.ArcFlashHazardAnalysisStudyParty)
        @Html.DisplayFor(x => x.CostToComplete)
    </div>