@model EstimatingProject

<div class="field-column fc200">
@Html.DisplayFor(x => x.ProjectNumber)
@Html.DisplayFor(x => x.WBSNumber)
@Html.DisplayFor(x => x.JDEPayrollNumber)
@Html.DisplayFor(x => x.ProjectName)
@Html.DisplayFor(x => x.ProjectType)
@Html.DisplayFor(x => x.OperatingCenter)
@Html.DisplayFor(x => x.Town)
@Html.DisplayFor(x => x.Street)
@Html.DisplayFor(x => x.Contractor)
@Html.DisplayFor(x => x.Estimator)
@Html.DisplayFor(x => x.CreatedBy)
@Html.DisplayFor(x => x.OverheadPercentage)
@Html.DisplayFor(x => x.ContingencyPercentage)
@Html.DisplayFor(x => x.LumpSum)
@Html.DisplayFor(x => x.Description)
@Html.DisplayFor(x => x.EstimateDate)
@Html.DisplayFor(x => x.Remarks)
</div>