@model MapCallMVC.Areas.ProjectManagement.Models.ViewModels.EditEstimatingProject

@using (Form.BeginForm("Update", "EstimatingProject", new { Model.Id }))
{
    <div class="field-column fc200">
        @Html.DisplayFor(m => m.Id)
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "EstimatingProject", new { Model.Id })
        </text>)
    </div>
}