@model EndOfPipeExceedance

<div class="field-column fc300">
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.WasteWaterSystem)
    @Html.DisplayFor(x => x.Facility)
    @Html.DisplayFor(x => x.LimitationType)
    @Html.DisplayFor(x => x.EventDate)
    @Html.DisplayFor(x => x.EndOfPipeExceedanceType)
    @Html.DisplayFor(x => x.EndOfPipeExceedanceTypeOtherReason)
    @Html.DisplayFor(x => x.EndOfPipeExceedanceRootCause)
    @Html.DisplayFor(x => x.EndOfPipeExceedanceRootCauseOtherReason)
    @Html.DisplayFor(x => x.ConsentOrder)
    @Html.DisplayFor(x => x.NewAcquisition)
    @Html.DisplayFor(x => x.BriefDescription)
</div>