@model ProductionWorkDescription


<div class="field-column fc200">
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.EquipmentType)
    @Html.DisplayFor(x => x.PlantMaintenanceActivityType)
    @Html.DisplayFor(x => x.OrderType)
    @Html.DisplayFor(x => x.BreakdownIndicator)
    @Html.DisplayFor(x => x.ProductionSkillSet)
    @Html.DisplayFor(x => x.MaintenancePlanTaskType)
    @Html.DisplayFor(x => x.TaskGroup)
</div>