@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchMeterChangeOutCompletions
    
@using (Form.BeginForm("Index", "MeterChangeOutCompletions"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.CalledInByContractorMeterCrew)
        @Html.EditorFor(x => x.DateStatusChanged)
        @Html.EditorFor(x => x.MeterChangeOutStatus)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.ButtonGroup(@<text>
        @Control.SubmitButton("Search").WithId("Search")
        @Control.ResetButton()
        </text>)
    </div>
}