@model MapCall.Common.Model.Entities.WorkOrderInvoice

<h2>Work Order Invoice Submitted</h2>

Id: @Model.Id<br />
Invoice Date: @Model.InvoiceDate<br />
Schedule of Value Type: @Model.ScheduleOfValueType<br />
Includes Materials: @Model.IncludeMaterials<br />
Work Order #: @Model.WorkOrder.Id<br />
Status : @Model.WorkOrderInvoiceStatus<br />
Submitted Date : @Model.SubmittedDate<br />