@model Contractors.Models.ViewModels.ContractorUserLogOn
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Log On";
}

<style>
    .right .inner { width:auto !important;margin: 6px !important; }
</style>

@Html.ScriptFor("~/Scripts/Authentication/LogOn.js")
@* NOTE: Can not use Form.BeginForm here because of the LogOn action existing twice. *@
@using (Html.BeginForm()) {
	<div class="field-column" style="width:200px;">
		@Html.ValidationMessage("GenericLoginError")
		@Control.HiddenFor(x => x.ReturnUrl)
		@Html.EditorFor(m => m.Email)
		@Html.ValidationMessage("Access")
		@Html.EditorFor(m => m.Password)
		@Html.ButtonGroup(Control.SubmitButton("Log On").WithName("Login"))
	</div>
	<div>
		Please reach out to your local American Water contact if your password needs to be reset.
	</div>
}

@section footer {
	<footer>
		<div class="footer-body">
			<div class="copyright"><a href="https://amwater.com">&copy; @DateTime.Now.Year American Water</a></div>
			<div class="links"><a href="https://amwater.com/corp/privacy-policy">Privacy Policy</a> | <a href="https://amwater.com/corp/terms-of-use">Terms of Use</a></div>
		</div>
	</footer>
}