@model MapCallMVC.Areas.Facilities.Models.ViewModels.SearchInterconnectionTest

@using (Form.BeginForm("Index", "InterconnectionTest", "Facilities"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.InspectionDate)
        @Html.EditorFor(x => x.Facility)
        @Html.EditorFor(x => x.Employee)
        @Html.EditorFor(x => x.Contractor)
        @Html.EditorFor(x => x.InterconnectionInspectionRating)

        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}
