@model EnvironmentalPermit
           
<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.EnvironmentalPermitType)
    @Html.DisplayFor(x => x.EnvironmentalPermitStatus)
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.FacilityType)
    @Html.RenderDisplayTemplate("Operating Centers", @<text>@foreach (var oc in Model.OperatingCenters)
        {<div>@oc.Name</div>}</text>)
    @Html.RenderDisplayTemplate("PWSID", @<text>@if (Model.PublicWaterSupply != null)
        {@Html.ActionLink(Model.PublicWaterSupply.ToString(), "Show", "PublicWaterSupply", new { Model.PublicWaterSupply.Id, area = "" }, null)}</text>)
    @Html.RenderDisplayTemplate("WWSID", @<text>@if (Model.WasteWaterSystem != null)
        {@Html.ActionLink(Model.WasteWaterSystem.ToString(), "Show", "WasteWaterSystem", new { Model.WasteWaterSystem.Id }, null)}</text>)
    @Html.RenderDisplayTemplate("Facilities", @<text>@foreach (var f in Model.Facilities)
        {<div>@f.FacilityId - @f.Description</div>}</text>)
    @Html.RenderDisplayTemplate("Equipment", @<text>@foreach (var e in Model.Equipment)
        {<div>@e.Identifier</div>}</text>)
    @Html.DisplayFor(x => x.PermitName)
    @Html.DisplayFor(x => x.PermitNumber)
    @Html.DisplayFor(x => x.ReportingRequired)
    @Html.DisplayFor(x => x.RequiresRequirements)
    @Html.DisplayFor(x => x.ProgramInterestNumber)
    @Html.DisplayFor(x => x.PermitCrossReferenceNumber)
    @Html.DisplayFor(x => x.PermitEffectiveDate)
    @Html.DisplayFor(x => x.PermitRenewalDate)
    @Html.DisplayFor(x => x.PermitExpirationDate)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.RequiresFees)
</div>