@model TaskGroup

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.TaskGroupId)
    @Html.DisplayFor(x => x.TaskGroupName)
    @Html.DisplayFor(x => x.MaintenancePlanTaskType)
    @Html.DisplayFor(x => x.TaskGroupCategory)
    @Html.DisplayFor(x => x.TaskDetailsSummary)
    @Html.DisplayFor(x => x.TaskDetails)
</div>