@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.CreateValveInspection

@using (var f = Form.BeginForm("Create", "ValveInspection", "FieldOperations")) 
{
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "ValveInspection", null, new{ id = "cancel-button"})
                               @Control.Button("Cancel").WithId("done-button")
                           </text>)
    </div>
}

@section scripts {
    <script type="text/javascript">
        var cancelButton = $('#cancel-button');
        var doneButton = $('#done-button');
        if (Application.isInsideIframe) {
            $('#IsMapPopup').val('true');
            cancelButton.hide();
            doneButton.show();
            doneButton.on('click', function() {
                window.parent.Maps.hideInfoWindow();
            });
        } else {
            cancelButton.show();
            doneButton.hide();
        }
    </script>
}