@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchValveInspection

@using (Form.BeginForm("Index", "ValveInspection")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        
        @Html.EditorFor(x => x.ValveSuffix)
        @Html.EditorFor(x => x.Route)   
        @Html.EditorFor(x => x.InspectedBy)
        
        @Html.EditorFor(x => x.DateInspected)
        @Html.EditorFor(x => x.CreatedAt)
        
        @Html.EditorFor(x => x.WorkOrderRequired)
        @Html.EditorFor(x => x.IsLargeValve)
        
        @Html.EditorFor(x => x.SAPEquipmentOnly)
        @Html.EditorFor(x => x.ValveZone)
        @Html.EditorFor(x => x.SAPErrorCode)
        @Html.EditorFor(x => x.HasSAPErrorCode)
        @Html.EditorFor(x => x.SAPNotificationNumber)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}