@model SewerOverflow

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.WasteWaterSystem)
    @Html.DisplayFor(x => x.IncidentDate)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.StreetNumber)
    @Html.DisplayFor(x => x.Street)
    @Html.DisplayFor(x => x.CrossStreet)
    @Html.DisplayFor(x => x.Coordinate)
    @Html.DisplayFor(x => x.WorkOrder)
    @Html.DisplayFor(x => x.OverflowType)
    @Html.DisplayFor(x => x.WeatherType)
    @Html.DisplayFor(x => x.GallonsOverflowedEstimated)
    @Html.DisplayFor(x => x.DischargeLocation)
    @Html.DisplayForIfNotNullOrWhiteSpace(x => x.BodyOfWater)
    @Html.DisplayForIfNotNullOrWhiteSpace(x => x.DischargeLocationOther)
    @Html.DisplayForIfNotNullOrWhiteSpace(x => x.GallonsFlowedIntoBodyOfWater)
    @Html.DisplayForIfNotNullOrWhiteSpace(x => x.GallonsInContainedDrains)
    @Html.DisplayFor(x => x.SewerClearingMethod)
    @Html.DisplayFor(x => x.AreaCleanedUpTo)
    @Html.DisplayFor(x => x.SewageRecoveredGallons)
    @Html.DisplayFor(x => x.OverflowCustomers)
    @Html.DisplayFor(x => x.OverflowCause)
    @Html.DisplayFor(x => x.ZoneType)
    @Html.DisplayFor(x => x.LocationOfStoppage)
    @Html.DisplayFor(x => x.TalkedTo)
    @Html.DisplayFor(x => x.EnforcingAgencyCaseNumber)
    @Html.DisplayFor(x => x.CallReceived)
    @Html.DisplayFor(x => x.CrewArrivedOnSite)
    @Html.DisplayFor(x => x.SewageContained)
    @Html.DisplayFor(x => x.StoppageCleared)
    @Html.DisplayFor(x => x.WorkCompleted)
    @Html.DisplayForIfNotNullOrWhiteSpace(x => x.TruckNumber)
    @Html.DisplayFor(x => x.CreatedBy)
    @Html.DisplayFor(x => x.CreatedAt)
</div>