@model MapCallMVC.Areas.Operations.Models.ViewModels.EditAbsenceNotification
@Html.ScriptFor("~/Scripts/AbsenceNotification/Form.js", ScriptLoadType.LoadFromPartial)

@using (Form.BeginForm("Update", "AbsenceNotification", "Operations", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
 
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "AbsenceNotification", new {Model.Id})
                           </text>)
    </div>
}