@model MapCallMVC.Areas.Operations.Models.ViewModels.CreateAbsenceNotification
@Html.ScriptFor("~/Scripts/AbsenceNotification/Form.js", ScriptLoadType.LoadFromPartial)

@using (Form.BeginForm("Create", "AbsenceNotification", "Operations")) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)     
        
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Index", "AbsenceNotification")
                           </text>)
    </div>
}