@model MapCall.Common.Model.Entities.PublicWaterSupplyPressureZone

PWSID: <a href="@Model.PublicWaterSupply.RecordUrl">@Model.PublicWaterSupply.Identifier - @Model.PublicWaterSupply.System</a><br />
Pressure Zone: <a href="@Model.RecordUrl">@Model.HydraulicModelName</a>
