@model MapCallMVC.Areas.Reports.Models.SearchEquipmentRiskCharacteristicData

@using (Form.BeginForm("Index", "EquipmentRiskCharacteristicData"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.PlanningPlant)
        @Html.EditorFor(x => x.Facility)
        @Html.EditorFor(x => x.EquipmentType)
        @Html.EditorFor(x => x.Description)
        @Html.EditorFor(x => x.RiskCharacteristicsLastUpdatedOn)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}