@model WasteWaterSystem

<div class="field-column fc300">
    @Html.DisplayFor(x => x.WasteWaterSystemId)
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.BusinessUnit)
    @Html.DisplayFor(x => x.WasteWaterSystemName, new { DisplayName = WasteWaterSystem.DisplayNames.WASTEWATER_SYSTEM })
    @Html.DisplayFor(x => x.PermitNumber)
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.Ownership)
    @Html.DisplayFor(x => x.LicensedOperatorStatus)
    @Html.DisplayFor(x => x.CurrentLicensedContractor)
    @Html.DisplayFor(x => x.Type)
    @Html.DisplayFor(x => x.SubType)
    @Html.DisplayFor(x => x.DateOfResponsibility)
    @Html.DisplayFor(x => x.GravityLength)
    @Html.DisplayFor(x => x.ForceLength)
    @Html.DisplayFor(x => x.TotalLengthFeet)
    @Html.DisplayFor(x => x.TotalLengthMiles)
    @Html.DisplayFor(x => x.Total100Miles)
    @Html.DisplayFor(x => x.NumberOfLiftStations)
    @Html.DisplayFor(x => x.TreatmentDescription)
    @Html.DisplayFor(x => x.NumberOfCustomers)
    @Html.DisplayFor(x => x.PeakFlowMGD)
    @Html.DisplayFor(x => x.IsCombinedSewerSystem)
    @Html.DisplayFor(x => x.HasConsentOrder)
    @Html.DisplayFor(x => x.DateOfOwnership)
    @Html.DisplayFor(x => x.ConsentOrderStartDate)
    @Html.DisplayFor(x => x.ConsentOrderEndDate)
    @Html.DisplayFor(x => x.NewSystemInitialSafetyAssessmentCompleted)
    @Html.DisplayFor(x => x.DateSafetyAssessmentActionItemsCompleted)
    @Html.DisplayFor(x => x.NewSystemInitialWQEnvAssessmentCompleted)
    @Html.DisplayFor(x => x.DateWQEnvAssessmentActionItemsCompleted)

</div>