@model  MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchHydrantRouteReport

@using (Form.BeginForm("Index", "HydrantRoute"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town,new { Container = @Model})
        @Html.EditorFor(x => x.Status)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}
