@model FacilityKwhCost

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Facility.OperatingCenter)    
    @Html.DisplayFor(x => x.Facility)
    @Html.DisplayFor(x => x.CostPerKwh)
    @Html.DisplayFor(x => x.StartDate)
    @Html.DisplayFor(x => x.EndDate)
</div>