@model MapCallMVC.Models.ViewModels.FireDistricts.FireDistrictViewModel

<div class="field-column fc200">
    @Html.EditorFor(x => x.DistrictName)
    @Html.EditorFor(x => x.Abbreviation)
    @Html.EditorFor(x => x.PremiseNumber)
    @Html.EditorFor(x => x.Contact)
    @Html.EditorFor(x => x.Phone)
    @Html.EditorFor(x => x.Fax)
    @Html.EditorFor(x => x.Address)
    @Html.EditorFor(x => x.AddressCity)
    @Html.EditorFor(x => x.AddressZip)
    @Html.EditorFor(x => x.State)
</div>