@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.WorkOrderFinalization.EditWorkOrderFinalization

@Html.ScriptFor("~/Scripts/Areas/FieldOperations/WorkOrder/Finalization/Edit.js", ScriptLoadType.LoadFromPartial)

@using (var form = Form.BeginForm("Update", "WorkOrderFinalization", "FieldOperations", new { Model.Id }))
{
	form.HtmlAttributes["id"] = "FinalizationForm";
    @Control.HiddenFor(m => m.DigitalAsBuiltRequired)
    @Control.HiddenFor(m => m.AssetTypeId)

    <fieldset>
        <div class="field-column fc200">
            @Html.EditorFor(x => x.CompletedDate)
            @Html.EditorFor(x => x.FlushingNoticeType)
            @Html.EditorFor(x => x.DigitalAsBuiltCompleted)
            @if (Model.AssetTypeId == AssetType.Indices.SERVICE)
            {
                @Html.EditorFor(x => x.MeterLocation)
            }

            @*Service Line Info Fields*@
            @Control.HiddenFor(x => x.PreviousServiceLineMaterial).WithId("PreviousServiceLineMaterialInit")
            @Control.HiddenFor(x => x.PreviousServiceLineSize).WithId("PreviousServiceLineSizeInit")
            @Control.HiddenFor(x => x.CompanyServiceLineMaterial).WithId("CompanyServiceLineMaterialInit")
            @Control.HiddenFor(x => x.CompanyServiceLineSize).WithId("CompanyServiceLineSizeInit")
            @Control.HiddenFor(x => x.CustomerServiceLineMaterial).WithId("CustomerServiceLineMaterialInit")
            @Control.HiddenFor(x => x.CustomerServiceLineSize).WithId("CustomerServiceLineSizeInit")
            @Control.HiddenFor(x => x.DoorNoticeLeftDate).WithId("DoorNoticeLeftDateInit")

            @*Additional Details*@
            @Control.HiddenFor(x => x.FinalWorkDescription).WithId("WorkDescriptionInit")
            @Control.HiddenFor(x => x.CustomerImpact).WithId("EstimatedCustomerImpactInit")
            @Control.HiddenFor(x => x.RepairTime).WithId("AnticipatedRepairTimeInit")
            @Control.HiddenFor(x => x.AlertIssued).WithId("AlertIssuedInit")
            @Control.HiddenFor(x => x.TrafficImpact).WithId("SignificantTrafficImpactInit")
            @Control.HiddenFor(x => x.LostWater).WithId("LostWaterInit")
            @Control.HiddenFor(x => x.DistanceFromCrossStreet).WithId("DistanceFromCrossStreetInit")
            @Control.HiddenFor(x => x.AppendNotes).WithId("AppendNotesInit")

            @*Compliance Data Fields*@
            @Control.HiddenFor(x => x.InitialServiceLineFlushTime).WithId("InitialServiceLineFlushTimeInit")
            @Control.HiddenFor(x => x.HasPitcherFilterBeenProvidedToCustomer).WithId("HasPitcherFilterBeenProvidedToCustomerInit")
            @Control.HiddenFor(x => x.DatePitcherFilterDeliveredToCustomer).WithId("DatePitcherFilterDeliveredToCustomerInit")
            @Control.HiddenFor(x => x.PitcherFilterCustomerDeliveryMethod).WithId("PitcherFilterCustomerDeliveryMethodInit")
            @Control.HiddenFor(x => x.PitcherFilterCustomerDeliveryOtherMethod).WithId("PitcherFilterCustomerDeliveryOtherMethodInit")
            @Control.HiddenFor(x => x.DateCustomerProvidedAWStateLeadInformation).WithId("DateCustomerProvidedAWStateLeadInformationInit")
            @Control.HiddenFor(x => x.IsThisAMultiTenantFacility).WithId("IsThisAMultiTenantFacilityInit")
            @Control.HiddenFor(x => x.NumberOfPitcherFiltersDelivered).WithId("NumberOfPitcherFiltersDeliveredInit")
            @Control.HiddenFor(x => x.DescribeWhichUnits).WithId("DescribeWhichUnitsInit")

            @Html.ButtonGroup(
                                @<text>
                                    @Control.SubmitButton("Finalize").WithId("btnFinalize")
                                    @if (Model.WorkOrder.AssetType != null &&
                                         (Model.WorkOrder.AssetType.Id == (int)AssetType.Indices.SERVICE ||
                                          Model.WorkOrder.AssetType.Id == (int)AssetType.Indices.SEWER_LATERAL) &&
                                         Model.WorkOrder.Service == null)
                                    {
                                        @Html.ActionLink("Create Service", "LinkOrNew", "Service", new { area = "FieldOperations", workOrderId = Model.Id }, new { Class = "link-button" })
                                    }
                                    <div id="main-break-error-message" style="color: #FF0000"> You must enter the main break info before continuing. </div>
                                </text>)
        </div>
    </fieldset>
}