@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.WorkOrderFinalization.SearchWorkOrderFinalization

@using (Form.BeginForm("Index", "WorkOrderFinalization"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.Id)
        @Html.RenderDisplayTemplate(string.Empty, @<text>-OR-</text>)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.TownSection)
        @Html.EditorFor(x => x.Street)
        @Html.EditorFor(x => x.StreetNumber)
        @Html.EditorFor(x => x.ApartmentAddtl)
        @Html.EditorFor(x => x.NearestCrossStreet)
        @Html.EditorFor(x => x.AssetType)
        @Html.EditorFor(x => x.WorkDescription)
        @Html.EditorFor(x => x.Purpose)
        @Html.EditorFor(x => x.AccountCharged)
        @Html.ButtonGroup(@<text>
                @Control.SubmitButton("Search").WithId("Search")
                @Control.ResetButton()
        </text>)
    </div>
}