@using MMSINC.Results
@model BelowGroundHazard

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Coordinate)
    @Html.DisplayFor(x => x.WorkOrder)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.TownSection)
    @Html.DisplayFor(x => x.StreetNumber)
    @Html.DisplayFor(x => x.Street)
    @Html.DisplayFor(x => x.CrossStreet)
    @Html.DisplayFor(x => x.HazardArea)
    @Html.DisplayFor(x => x.HazardType)
    @Html.DisplayFor(x => x.DepthOfHazard)
    @Html.DisplayFor(x => x.AssetStatus)
    @Html.DisplayFor(x => x.HazardDescription)
    @Html.DisplayFor(x => x.ProximityToAmWaterAsset)
    @Html.DisplayFor(x => x.HazardApproachRecommendedType)
</div>