@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.Services.Reports.SearchServicesRetired
    
@using (Form.BeginForm("Index", "ServicesRetired"))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.YearRetired)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}