@using MapCall.Common.Authentication
@model Contractors.Models.ViewModels.ChangePasswordContractorUser

@{
    ViewBag.Title = "Change Password";
}

@using (var f = Form.BeginForm("ChangePasswordPost", "User"))
{
	// Need to include method because there are two ChangePassword actions.
	f.Method = FormMethod.Post;

    <div class="field-column field-column-default">
        @Html.DisplayFor(m => m.Email)
        @Html.EditorFor(m => m.CurrentPassword)
	    <div class="error">@ContractorUserCredentialPolicy.REQUIREMENTS_MESSAGE</div>
        @Html.EditorFor(m => m.NewPassword)
        @Html.EditorFor(m => m.ConfirmNewPassword)

        <div class="editor-buttons">
            @Control.SubmitButton("Save").WithName("Save")
            @Html.LinkButton("Cancel", "Show", null, new { id = Model.Id })
        </div>
    </div>
}