@model Contractors.Models.ViewModels.ChangePasswordQuestionAndAnswerContractorUser

@{
    ViewBag.Title = "Change Password Question and Answer";
}

@using (var f = Form.BeginForm("ChangePasswordQAPost", "User"))
{
	// Need to include method because there are two ChangePassword actions.
	f.Method = FormMethod.Post;

    <div class="field-column field-column-default">
        @Html.DisplayFor(m => m.Email)
        @Html.EditorFor(m => m.PasswordQuestion)
        @* autocomplete = off is to stop browsers from thinking this is a
               login field just because there's a password box below it. *@
        @Html.EditorFor(m => m.PasswordAnswer, new { html = new { autocomplete = "off" } })
        @Html.EditorFor(m => m.Password)
        <div class="editor-buttons">
            @Control.SubmitButton("Save").WithName("Save")
            @Html.LinkButton("Cancel", "Show")
        </div>
    </div>
}