@model MapCall.Common.Model.Entities.DevelopmentProject

<h2>New Development Project Record</h2>

Id: @Model.Id <br />
OperatingCenter: @Model.OperatingCenter <br />
Town: @Model.Town <br />
StreetName: @Model.StreetName <br />
Category: @Model.Category <br />
BusinessUnit: @Model.BusinessUnit <br />
ProjectManager: @Model.ProjectManager <br />
PublicWaterSupply: @Model.PublicWaterSupply <br />
DeveloperServicesId: @Model.DeveloperServicesId <br />
WBSNumber: @Model.WBSNumber <br />
ProjectDescription: @Model.ProjectDescription <br />
CreatedBy: @Model.CreatedBy <br />
ForecastedInServiceDate: @Model.ForecastedInServiceDate <br />
InServiceDate: @Model.InServiceDate <br />
DomesticWaterServices: @Model.DomesticWaterServices <br />
FireServices: @Model.FireServices <br />
DomesticSanitaryServices: @Model.DomesticSanitaryServices
