@model dynamic

<h2>New ProjectsRP Record</h2>

Id: @Model.Id <br />
Operating Center: @Model.OperatingCenter <br />
Town: @Model.Town <br />
Project Title: @Model.ProjectTitle <br />
Project Description: @Model.ProjectDescription <br />
District: @Model.District <br />
Originiation Year: @Model.OriginationYear <br />
NJAW Estimate (Dollars): @Model.NJAWEstimate <br />
Project Type: @Model.RecurringProjectType <br />
Proposed Length (ft): @Model.ProposedLength <br />
Estimated Project Duration (days): @Model.EstimatedProjectDuration <br />
Estimated In Service Date: @(Model.EstimatedInServiceDate != null ? Model.EstimatedInServiceDate.ToString("d") : "") <br />
Proposed Diameter: @Model.ProposedDiameter <br />
Proposed Pipe Material: @Model.ProposedPipeMaterial <br />
Accelerated Asset Investment Category: @Model.AcceleratedAssetInvestmentCategory <br />
Secondary Asset Investment Category: @Model.SecondaryAssetInvestmentCategory <br />
Justification: @Model.Justification <br />
Created By: @Model.CreatedBy <br />