@model dynamic

<h2>New Roadway Improvement Notification</h2>

Id: @Model.Id<br />
Operating Center: @Model.OperatingCenter<br/>
Town: @Model.Town<br/>
Entity: @Model.RoadwayImprovementNotificationEntity<br/>
Description: @Model.Description<br/>
Expected Project Start Date: @Model.ExpectedProjectStartDate<br />
Date Received: @Model.DateReceived<br/>
Status: @Model.RoadwayImprovementNotificationStatus<br/>
Precon Meeting Date: @Model.PreconMeetingDate<br/>
Precon Action Taken: @Model.RoadwayImprovementNotificationPreconAction<br/>