@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.WorkOrderStockToIssue.SearchWorkOrderStockToIssue

@using (Form.BeginForm("Index", "WorkOrderStockToIssue"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.Id)
        @Html.RenderDisplayTemplate(string.Empty, @<text>-OR-</text>)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.ApartmentAddtl)
        @Html.EditorFor(x => x.RequestedBy)
        @Html.EditorFor(x => x.LastCrewAssigned)
        @Html.EditorFor(x => x.DateCompleted)
        @Html.EditorFor(x => x.MaterialsApproved)
        @Html.ButtonGroup(@<text>
                @Control.SubmitButton("Search").WithId("Search")
                @Control.ResetButton()
        </text>)
    </div>
}