@model HelpTopic

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Title)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.Category)
    @Html.DisplayFor(x => x.SubjectMatter)
</div>
