@using MapCallMVC.Areas.HumanResources.Models.ViewModels
@model MapCallMVC.Areas.HumanResources.Models.ViewModels.CovidIssueViewModel
    <div class="field-column fc200">
        @if (Model is CreateCovidIssue)
        {
            @Html.EditorFor(x => ((CreateCovidIssue)x).State, new { html = new { autofocus = "" } })
            @Html.EditorFor(x => ((CreateCovidIssue)x).Employee)
        }
        else
        {
            @Html.DisplayFor(x => ((EditCovidIssue)x).Employee)
        }
        @Html.EditorFor(x => x.PersonalEmailAddress)
        @Html.EditorFor(x => x.SupervisorsCell)
        @Html.EditorFor(x => x.LocalEmployeeRelationsBusinessPartner)
        @Html.EditorFor(x => x.LocalEmployeeRelationsBusinessPartnerCell)
        @Html.EditorFor(x => x.RequestType)
        @Html.EditorFor(x => x.SubmissionDate)
        @Html.EditorFor(x => x.QuestionFromEmail)
        @Html.EditorFor(x => x.SubmissionStatus)
        @Html.EditorFor(x => x.HealthDepartmentNotification)
        @Html.EditorFor(x => x.OutcomeDescription)
        @Html.EditorFor(x => x.OutcomeCategory)
        @Html.EditorFor(x => x.QuarantineStatus)
        @Html.EditorFor(x => x.StartDate)
        @Html.EditorFor(x => x.EstimatedReleaseDate)
        @Html.EditorFor(x => x.ReleaseDate)
        @Html.EditorFor(x => x.ReleaseReason)
        @Html.EditorFor(x => x.QuarantineReason)
        @if (Model is CreateCovidIssue)
        {
            @Html.EditorFor(x => ((CreateCovidIssue)x).WorkExposure)
            @Html.EditorFor(x => ((CreateCovidIssue)x).AvoidableCloseContact)
            @Html.EditorFor(x => ((CreateCovidIssue)x).FaceCoveringWorn)
        }
        else
        {
            @Html.EditorFor(x => ((EditCovidIssue)x).WorkExposure)
            @Html.EditorFor(x => ((EditCovidIssue)x).AvoidableCloseContact)
            @Html.EditorFor(x => ((EditCovidIssue)x).FaceCoveringWorn)
        }

    </div>