@model CovidIssue

    <div class="field-column fc200">
        @Html.DisplayFor(x => x.Id)
        @Html.DisplayFor(x => x.Employee.OperatingCenter.State)
        @Html.DisplayFor(x => x.Employee.OperatingCenter)
        @Html.DisplayFor(x => x.Employee)
        @Html.DisplayFor(x => x.Employee.EmployeeId)
        @Html.DisplayFor(x => x.EmailAddress)
        @Html.DisplayFor(x => x.PersonalEmailAddress)
        @Html.DisplayFor(x => x.Employee.ReportingFacility)
        @Html.DisplayFor(x => x.EmployeeCell)
        @Html.DisplayFor(x => x.ReportsTo)
        @Html.DisplayFor(x => x.HumanResourcesManager)
        @Html.DisplayFor(x => x.SupervisorsCell)
        @Html.DisplayFor(x => x.LocalEmployeeRelationsBusinessPartner)
        @Html.DisplayFor(x => x.LocalEmployeeRelationsBusinessPartnerCell)
        @Html.DisplayFor(x => x.PersonnelArea)
        @Html.DisplayFor(x => x.RequestType)
        @Html.DisplayFor(x => x.SubmissionDate)
        @Html.DisplayFor(x => x.QuestionFromEmail)
        @Html.DisplayFor(x => x.SubmissionStatus)
        @Html.DisplayFor(x => x.HealthDepartmentNotification)
        @Html.DisplayFor(x => x.OutcomeDescription)
        @Html.DisplayFor(x => x.OutcomeCategory)
        @Html.DisplayFor(x => x.QuarantineStatus)
        @Html.DisplayFor(x => x.StartDate)
        @Html.DisplayFor(x => x.EstimatedReleaseDate)
        @Html.DisplayFor(x => x.ReleaseDate)
        @Html.DisplayFor(x => x.ReleaseReason)
        @Html.DisplayFor(x => x.TotalDays)
        @Html.DisplayFor(x => x.QuarantineReason)
        @Html.DisplayFor(x => x.WorkExposure)
        @Html.DisplayFor(x => x.AvoidableCloseContact)
        @Html.DisplayFor(x => x.FaceCoveringWorn)
    </div>