@model EditEquipmentManufacturer

@using (Form.BeginForm("Update", "EquipmentManufacturer", "", new {Model.Id}))
{
    <div class="field-column fc200">
        @Html.DisplayFor(m => m.Id)
        @Html.Partial("_Form")
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Search", "EquipmentManufacturer")
                           </text>)
    </div>
}