@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchValveRouteReport

@using (Form.BeginForm("Index", "ValveRoute"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.Status)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}
