@model MapCallMVC.Areas.BPU.Models.ViewModels.MarkoutViolationViewModel

<div class="field-column fc200">
    @Html.EditorFor(x => x.MarkoutViolationStatus)
    @Html.EditorFor(x => x.OperatingCenter)
    @Html.EditorFor(x => x.Town)
    @Html.EditorFor(x => x.WorkOrder)
    @Html.EditorFor(x => x.Violation)
    @Html.EditorFor(x => x.DateOfViolationNotice)
    @Html.EditorFor(x => x.DateOfProbableViolation)
    @Html.EditorFor(x => x.MarkoutRequestNumber)
    @Html.EditorFor(x => x.OCNumber)
    @Html.EditorFor(x => x.OperatorOfFacility)
    @Html.EditorFor(x => x.Location)
    @Html.EditorFor(x => x.MarkoutPerformedBy)
    @Html.EditorFor(x => x.RootCause)
    @Html.EditorFor(x => x.Contest)
    @Html.EditorFor(x => x.FineAmount)
    @Html.EditorFor(x => x.Coordinate)
</div>