@model LargeServiceProject

<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.WBSNumber)
    @Html.DisplayFor(x => x.ProjectTitle)
    @Html.DisplayFor(x => x.ProjectAddress)
    @Html.DisplayFor(x => x.AssetCategory)
    @Html.DisplayFor(x => x.AssetType)
    @Html.DisplayFor(x => x.ProposedPipeDiameter)
    @Html.DisplayFor(x => x.ContactName)
    @Html.DisplayFor(x => x.ContactEmail)
    @Html.DisplayFor(x => x.ContactPhone)
    @Html.DisplayFor(x => x.CreatedBy)
    @Html.DisplayFor(x => x.InitialContactDate)
    @Html.DisplayFor(x => x.InServiceDate)
    @Html.DisplayFor(x => x.Coordinate)
</div>