@model MapCallMVC.Areas.Environmental.Models.ViewModels.AddAllocationPermitAllocationPermitWithdrawalNode

@using (var form = Form.BeginRouteForm("AllocationPermitWithdrawalNode", "AllocationPermit", null, ManyToManyRouteAction.Add))
{
    form.HtmlAttributes.Add("id", "allocationPermitForm");
    <div class="field-column fc200">
        @Control.HiddenFor(x => x.Id)
        @Html.EditorFor(x => x.AllocationPermit)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save Allocation Grouping")
            @Control.Button("Cancel").WithCssClass("cancel")
        </text>)
    </div>
}