@model MapCallMVC.Areas.Environmental.Models.ViewModels.SearchAllocationPermitWithdrawalNode
           
@using (Form.BeginForm("Index", "AllocationPermitWithdrawalNode"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.EntityId)
        @Html.EditorFor(x => x.AllocationCategory)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Facility, new { Container = @Model})
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}