@model dynamic

Employee: <a href="@Model.RecordUrl">@Model.Employee.FullName</a><br />
Employee Id: @Model.Employee.EmployeeId<br />
Operator License Type: @Model.OperatorLicenseType<br />
Licensed Operator of Record: @Model.LicensedOperatorOfRecord<br />
License Level/Class: @Model.LicenseLevel<br />
License Sub-level/Sub-class: @Model.LicenseSubLevel<br />
License Number: @Model.LicenseNumber<br />
Operating Center: @Model.OperatingCenter<br />
Expiration Date: @Model.ExpirationDate