@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.CreateSpoilFinalProcessingLocation

@using (Form.BeginForm("Create", "SpoilFinalProcessingLocation", "FieldOperations"))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.Street)
        @Html.EditorFor(x => x.Name)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Save")
                              @Html.LinkButton("Cancel", "Search")
                           </text>)
    </div>
}