@model ChemicalInventoryTransaction

    <div class="field-column fc200">
        @Html.DisplayFor(x => x.Storage)
        @Html.DisplayFor(x => x.Delivery)
        @Html.DisplayFor(x => x.InventoryRecordType)
        @Html.DisplayFor(x => x.Date)
        @Html.DisplayFor(x => x.QuantityGallons)
        @Html.DisplayFor(x => x.QuantityPounds)
    </div>