@model OperatingCenter

<div class="field-column fc250">
	@Html.DisplayFor(x => x.OperatingCenterCode)
	@Html.DisplayFor(x => x.OperatingCenterName)
	@Html.DisplayFor(x => x.State)
	@Html.DisplayFor(x => x.StateRegion)
	@Html.DisplayFor(x => x.TimeZone)
	@Html.DisplayFor(x => x.IsActive)
	@Html.DisplayFor(x => x.WorkOrdersEnabled)
	@Html.DisplayFor(x => x.CompanyInfo)
	@Html.DisplayFor(x => x.PhoneNumber)
	@Html.DisplayFor(x => x.FaxNumber)
	@Html.DisplayFor(x => x.MailingAddressName)
	@Html.DisplayFor(x => x.MailingAddressStreet)
	@Html.DisplayFor(x => x.MailingAddressCityStateZip)
	@Html.DisplayFor(x => x.ServiceContactPhoneNumber)
	@Html.DisplayFor(x => x.RSADivisionNumber)
	@Html.DisplayFor(x => x.MaximumOverflowGallons)
	@Html.DisplayFor(x => x.HydrantInspectionFrequency)
	@Html.DisplayFor(x => x.HydrantInspectionFrequencyUnit)
	@Html.DisplayFor(x => x.ZoneStartYear)
	@Html.DisplayFor(x => x.PaintingZoneStartYear)
	@Html.DisplayFor(x => x.HydrantPaintingFrequency)
	@Html.DisplayFor(x => x.HydrantPaintingFrequencyUnit)
	@Html.DisplayFor(x => x.LargeValveInspectionFrequency)
	@Html.DisplayFor(x => x.LargeValveInspectionFrequencyUnit)
	@Html.DisplayFor(x => x.SmallValveInspectionFrequency)
	@Html.DisplayFor(x => x.SmallValveInspectionFrequencyUnit)
	@Html.DisplayFor(x => x.UsesValveInspectionFrequency)
	@Html.DisplayFor(x => x.SewerOpeningInspectionFrequency)
	@Html.DisplayFor(x => x.SewerOpeningInspectionFrequencyUnit)
	@Html.DisplayFor(x => x.PermitsOMUserName)
	@Html.DisplayFor(x => x.PermitsCapitalUserName)
	@Html.DisplayFor(x => x.InfoMasterMapId)
	@Html.DisplayFor(x => x.InfoMasterMapLayerName)
	@Html.DisplayFor(x => x.DefaultServiceReplacementWBSNumber)
	@Html.DisplayFor(x => x.IsContractedOperations)
	@Html.DisplayFor(x => x.SAPEnabled)
	@Html.DisplayFor(x => x.SAPWorkOrdersEnabled)
	@Html.DisplayFor(x => x.DistributionPlanningPlant)
	@Html.DisplayFor(x => x.SewerPlanningPlant)
	@Html.DisplayFor(x => x.ProductionPlanningPlant)
	@Html.DisplayFor(x => x.OperatedByOperatingCenter)
	@Html.DisplayFor(x => x.MapId)
	@Html.DisplayFor(x => x.ArcMobileMapId)
	@Html.DisplayFor(x => x.DataCollectionMapUrl)
	@Html.DisplayFor(x => x.Coordinate)
	@Html.DisplayFor(x => x.MarkoutsEditable)
</div>