@model EditOperatingCenter

@using (Form.BeginForm("Update", "OperatingCenter", new { id = Model.Id }))
{
<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenterCode)
    @Html.EditorFor(x => x.OperatingCenterName)
    @Html.EditorFor(x => x.State)
    @Html.EditorFor(x => x.StateRegion, new { Container = @Model })
    @Html.EditorFor(x => x.TimeZone)
    @Html.EditorFor(x => x.IsActive)
    @Html.EditorFor(x => x.WorkOrdersEnabled)
    @Html.EditorFor(x => x.CompanyInfo)
    @Html.EditorFor(x => x.PhoneNumber)
    @Html.EditorFor(x => x.FaxNumber)
    @Html.EditorFor(x => x.MailingAddressName)
    @Html.EditorFor(x => x.MailingAddressStreet)
    @Html.EditorFor(x => x.MailingAddressCityStateZip)
    @Html.EditorFor(x => x.ServiceContactPhoneNumber)
    @Html.EditorFor(x => x.RSADivisionNumber)
    @Html.EditorFor(x => x.MaximumOverflowGallons)
    @Html.RenderEditorTemplate("Hydrant Inspection Frequency", @<text>
        @Control.TextBoxFor(x => x.HydrantInspectionFrequency).WithCssClass("numeric")
        @Control.DropDownFor(x => x.HydrantInspectionFrequencyUnit)
        @Html.ValidationMessageFor(x => x.HydrantInspectionFrequency)
        @Html.ValidationMessageFor(x => x.HydrantInspectionFrequencyUnit)
    </text>)
    @Html.RenderEditorTemplate("Hydrant Painting Frequency", @<text>
        @Control.TextBoxFor(x => x.HydrantPaintingFrequency).WithCssClass("numeric")
        @Control.DropDownFor(x => x.HydrantPaintingFrequencyUnit)
        @Html.ValidationMessageFor(x => x.HydrantPaintingFrequency)
        @Html.ValidationMessageFor(x => x.HydrantPaintingFrequencyUnit)
    </text>)
    @Html.EditorFor(x => x.ZoneStartYear)
    @Html.EditorFor(x => x.PaintingZoneStartYear)
    @Html.RenderEditorTemplate("Large Valve Inspection Frequency", @<text>
        @Control.TextBoxFor(x => x.LargeValveInspectionFrequency).WithCssClass("numeric")
        @Control.DropDownFor(x => x.LargeValveInspectionFrequencyUnit)
        @Html.ValidationMessageFor(x => x.LargeValveInspectionFrequency)
        @Html.ValidationMessageFor(x => x.LargeValveInspectionFrequencyUnit)
    </text>)
    @Html.RenderEditorTemplate("Small Valve Inspection Frequency", @<text>
        @Control.TextBoxFor(x => x.SmallValveInspectionFrequency).WithCssClass("numeric")
        @Control.DropDownFor(x => x.SmallValveInspectionFrequencyUnit)
        @Html.ValidationMessageFor(x => x.SmallValveInspectionFrequency)
        @Html.ValidationMessageFor(x => x.SmallValveInspectionFrequencyUnit)
    </text>)
    @Html.RenderEditorTemplate("Sewer Opening Inspection Frequency", @<text>
       @Control.TextBoxFor(x => x.SewerOpeningInspectionFrequency).WithCssClass("numeric")
       @Control.DropDownFor(x => x.SewerOpeningInspectionFrequencyUnit)
       @Html.ValidationMessageFor(x => x.SewerOpeningInspectionFrequency)
       @Html.ValidationMessageFor(x => x.SewerOpeningInspectionFrequencyUnit)
    </text>)
    @Html.EditorFor(x => x.UsesValveInspectionFrequency)
    @Html.EditorFor(x => x.PermitsOMUserName)
    @Html.EditorFor(x => x.PermitsCapitalUserName)
    @Html.EditorFor(x => x.InfoMasterMapId)
    @Html.EditorFor(x => x.InfoMasterMapLayerName)
    @Html.EditorFor(x => x.IsContractedOperations)
    @Html.EditorFor(x => x.SAPEnabled)
    @Html.EditorFor(x => x.SAPWorkOrdersEnabled)
    @Html.EditorFor(x => x.OperatedByOperatingCenter)
    @Html.EditorFor(x => x.MapId)
    @Html.EditorFor(x => x.ArcMobileMapId)
    @Html.EditorFor(x => x.DataCollectionMapUrl)
    @Html.EditorFor(x => x.Coordinate)
    @Html.ButtonGroup(@<text>
        @Control.SubmitButton("Save")
        @Html.AuthorizedActionLinkButton("Cancel", "Show", "OperatingCenter", new { Model.Id })
    </text>)
</div>
}