@model dynamic

<h2>Service Line Protection - Investigation Created</h2>

Operating Center: @Model.OperatingCenter <br />
City: @Model.CustomerCity <br/>
Customer Service Material: @Model.CustomerServiceMaterial<br/>
Customer Service Size: @Model.CustomerServiceSize<br/>
@Model.RecordUrl