@model ServiceSize
    
<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Hydrant)
    @Html.DisplayFor(x => x.Lateral)
    @Html.DisplayFor(x => x.Main)
    @Html.DisplayFor(x => x.Meter)
    @Html.DisplayFor(x => x.Service)
    @Html.DisplayFor(x => x.Size)
    @Html.DisplayFor(x => x.ServiceSizeDescription)
    @Html.DisplayFor(x => x.SortOrder)
</div>