@model SearchFacility

@Html.ScriptFor("~/Scripts/Facility/Search.js", ScriptLoadType.LoadFromPartial)

@using (Form.BeginForm("Index", "Facility"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(m => m.State)
        @Html.EditorFor(m => m.OperatingCenter)
        @Html.EditorFor(m => m.EntityId)
        @Html.EditorFor(m => m.FacilityName)
        @Html.EditorFor(m => m.Department)
        @Html.EditorFor(m => m.CompanySubsidiary)
        @Html.EditorFor(m => m.PublicWaterSupply)
        @Html.EditorFor(m => m.PublicWaterSupplyPressureZone)
        @Html.EditorFor(x => x.PlanningPlant)
        @Html.EditorFor(m => m.TownCounty, new { Container = @Model })
        @Html.EditorFor(m => m.Town, new { Container = @Model })
        @Html.EditorFor(m => m.WasteWaterSystem)
        @Html.EditorFor(m => m.WasteWaterSystemBasin)
        @Html.EditorFor(x => x.FunctionalLocation)
        @Html.EditorFor(x => x.HasSensorAttached)
        @Html.EditorFor(m => m.CriticalRating)
        @Html.EditorFor(m => m.FacilityOwner)
        @Html.EditorFor(m => m.FacilityStatus)
        @Html.EditorFor(m => m.FacilityInspectionFrequency)
        @Html.EditorFor(m => m.FacilityLoopGrouping)
        @Html.EditorFor(x => x.IsInVamp)
        @Html.EditorFor(m => m.PropertyOnly)
        @Html.EditorFor(m => m.Administration)
        @Html.EditorFor(m => m.EmergencyPower)
        @Html.EditorFor(m => m.GroundWaterSupply)
        @Html.EditorFor(x => x.BasicGroundWaterSupply)
        @Html.EditorFor(m => m.SurfaceWaterSupply)
        @Html.EditorFor(m => m.Reservoir)
        @Html.EditorFor(m => m.Dam)
        @Html.EditorFor(m => m.Interconnection)
        @Html.EditorFor(m => m.PointOfEntry)
        @Html.EditorFor(m => m.WaterTreatmentFacility)

        @Html.EditorFor(m => m.ChemicalFeed)
        @Html.EditorFor(m => m.DPCC)
        @Html.EditorFor(m => m.PSM)
        @Html.EditorFor(x => x.RMP)
        @Html.EditorFor(m => m.Filtration)
        @Html.EditorFor(m => m.ResidualsGeneration)
        @Html.EditorFor(m => m.TReport)
        @Html.EditorFor(m => m.DistributivePumping)
        @Html.EditorFor(m => m.BoosterStation)
        @Html.EditorFor(m => m.PressureReducing)
        @Html.EditorFor(m => m.GroundStorage)
        @Html.EditorFor(m => m.ElevatedStorage)
        @Html.EditorFor(m => m.OnSiteAnalyticalInstruments)
        @Html.EditorFor(m => m.SampleStation)
        @Html.EditorFor(m => m.SewerLiftStation)
        @Html.EditorFor(m => m.WasteWaterTreatmentFacility)
        @Html.EditorFor(m => m.Radionuclides)
        @Html.EditorFor(m => m.HasConfinedSpaceRequirement)
        @Html.EditorFor(m => m.FEMAFloodRating)
        @Html.EditorFor(m => m.CellularAntenna)
        @Html.EditorFor(m => m.FieldOperations)
        @Html.EditorFor(m => m.SpoilsStaging)
        @Html.EditorFor(x => x.HasExpiringArcFlashStudy)
        @Html.EditorFor(x => x.ArcFlashLastDateValidated)
        @Html.EditorFor(x => x.AWSecurityTier)
        @Html.EditorFor(x => x.SWMStation)
        @Html.EditorFor(x => x.WellProd)
        @Html.EditorFor(x => x.WellMonitoring)
        @Html.EditorFor(x => x.ClearWell)
        @Html.EditorFor(x => x.RawWaterIntake)
        @Html.EditorFor(x => x.Process)
        @Html.EditorFor(m => m.CommunityRightToKnow)
        @Html.EditorFor(x => x.RawWaterPumpStation)
        @Html.EditorFor(x => x.WaterStress)
        @Html.EditorFor(x => x.IgnitionEnterprisePortal)
        @Html.EditorFor(x => x.ArcFlashLabelRequired)
        @Html.EditorFor(x => x.InsuranceScore)
        @Html.EditorFor(x => x.InsuranceScoreQuartile)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}