@model RoadwayImprovementNotification

<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.RoadwayImprovementNotificationEntity)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.ExpectedProjectStartDate)
    @Html.DisplayFor(x => x.DateReceived)
    @Html.DisplayFor(x => x.Coordinate)
    @Html.DisplayFor(x => x.RoadwayImprovementNotificationStatus)
    @Html.DisplayFor(x => x.PreconMeetingDate)
    @Html.DisplayFor(x => x.RoadwayImprovementNotificationPreconAction)
    @Html.DisplayFor(x => x.CreatedAt)
    @Html.DisplayFor(x => x.CreatedBy)
</div>