@model MapCallMVC.Areas.Events.Models.ViewModels.SearchEventType
@using (Form.BeginForm("Index", "EventType"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.Description)
        @Html.EditorFor(x => x.CreatedBy)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}
