@model BusinessUnit

<div class="field-column fc200">
    @Html.DisplayFor(x => x.BU)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Department)
    @Html.DisplayFor(x => x.Order)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.Is271Visible)
    @Html.DisplayFor(x => x.Area)
    @Html.DisplayFor(x => x.EmployeeResponsible)
    @Html.DisplayFor(x => x.IsActive)
    @Html.DisplayFor(x => x.AuthorizedStaffingLevelTotal)
    @Html.DisplayFor(x => x.AuthorizedStaffingLevelManagement)
    @Html.DisplayFor(x => x.AuthorizedStaffingLevelNonBargainingUnit)
    @Html.DisplayFor(x => x.AuthorizedStaffingLevelBargainingUnit)
</div>