@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchSpoilStorageLocation

@using (var f = Form.BeginForm("Index", "SpoilStorageLocation"))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)

        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}
