@model Vehicle

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Flag)
    @Html.DisplayFor(x => x.VehicleIcon)
    @Html.DisplayFor(x => x.AssignmentCategory)
    @Html.DisplayFor(x => x.AssignmentJustification)
    @Html.DisplayFor(x => x.AssignmentStatus)
    @Html.DisplayFor(x => x.PoolUse)
    @Html.DisplayFor(x => x.AccountingRequirement)
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.DateRequisitioned)
    @Html.DisplayFor(x => x.DateOrdered)
    @Html.DisplayFor(x => x.RequisitionNumber)
    @Html.DisplayFor(x => x.DateInService)
    @Html.DisplayFor(x => x.DateRetired)
    @Html.DisplayFor(x => x.VehicleIdentificationNumber)
    @Html.DisplayFor(x => x.ARIVehicleNumber)
    @Html.DisplayFor(x => x.DecalNumber)
    @Html.DisplayFor(x => x.NedapSerialNumber)
    @Html.DisplayFor(x => x.LogoWaiver)
    @Html.DisplayFor(x => x.Upbranded)
    @Html.DisplayFor(x => x.VehicleLabel)
    @Html.DisplayFor(x => x.EZPass)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.District)
    @Html.DisplayFor(x => x.WBSNumber)
    @Html.DisplayFor(x => x.Facility)
    @Html.DisplayFor(x => x.Manager)
    @Html.DisplayFor(x => x.FleetContactPerson)
    @Html.DisplayFor(x => x.PrimaryDriver)
    @Html.DisplayFor(x => x.Department)
    @Html.DisplayFor(x => x.PrimaryVehicleUse)
    @Html.DisplayFor(x => x.EmergencyUse)
    @Html.DisplayFor(x => x.Type)
    @Html.DisplayFor(x => x.ModelYear)
    @Html.DisplayFor(x => x.Make)
    @Html.DisplayFor(x => x.Model)
    @Html.DisplayFor(x => x.GVW)
    @Html.DisplayFor(x => x.ServiceCompany)
    @Html.DisplayFor(x => x.AssetDetails)
    @Html.DisplayFor(x => x.FuelType)
    @Html.DisplayFor(x => x.PlateNumber)
    @Html.DisplayFor(x => x.RegistrationRenewalDate)
    @Html.DisplayFor(x => x.RegistrationAnnualCost)
    @Html.DisplayFor(x => x.OwnershipType)
    @Html.DisplayFor(x => x.LeasingCompany)
    @Html.DisplayFor(x => x.LeaseTerm)
    @Html.DisplayFor(x => x.LeaseExpiration)
    @Html.DisplayFor(x => x.LeaseCostMth)
    @Html.DisplayFor(x => x.OriginalAssetValueCapCost)
    @Html.DisplayFor(x => x.PlannedReplacementYear)
    @Html.DisplayFor(x => x.AlvId)
    @Html.DisplayFor(x => x.GPSType)
    @Html.DisplayFor(x => x.ToughbookSerialNumber)
    @Html.DisplayFor(x => x.ToughbookMount)
    @Html.DisplayFor(x => x.FuelCardNumber)
    @Html.DisplayFor(x => x.MileageTracked)
    @Html.DisplayFor(x => x.ReplacementVehicle)
    @Html.DisplayFor(x => x.Comments)
    @Html.DisplayFor(x => x.CreatedAt)
</div>