@model MapCallMVC.Areas.Reports.Models.SearchStreetOpeningPermit

@using (Form.BeginForm("Index", "StreetOpeningPermitReport"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.CreatedAtStart)
        @Html.EditorFor(x => x.CreatedAtEnd)
        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}