@model MapCallMVC.Areas.Reports.Models.SearchNpdesRegulatorInspection
           
@using (Form.BeginForm("Index", "NpdesRegulatorInspection"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.Year)
        @Html.EditorFor(x => x.DepartureDateTime)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("View Report").WithId("ViewReport")
            @Control.ResetButton()
        </text>)
    </div>
}