@model SearchTownSection

@using (var f = Form.BeginForm("Index", "TownSection"))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.County)
        @Html.EditorFor(x => x.Town)
        @Html.EditorFor(x => x.Name)
        @Html.EditorFor(x => x.Abbreviation)


        @Html.ButtonGroup(@<text>
                              @Control.SubmitButton("Search").WithId("Search")
                              @Control.ResetButton()
                           </text>)
    </div>
}
