@model TownSection

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Town.State)
    @Html.DisplayFor(x => x.Town.County)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.Name)
    @Html.DisplayFor(x => x.Abbreviation)
    @Html.DisplayFor(x => x.ZipCode)
    @Html.DisplayFor(x => x.Active)
    @Html.DisplayFor(x => x.MainSAPEquipmentId)
    @Html.DisplayFor(x => x.SewerMainSAPEquipmentId)
    @Html.DisplayFor(x => x.MainSAPFunctionalLocation)
    @Html.DisplayFor(x => x.SewerMainSAPFunctionalLocation)
    @Html.DisplayFor(x => x.DistributionPlanningPlant)
    @Html.DisplayFor(x => x.SewerPlanningPlant)

</div>