@model Restoration

<div class="field-column fc200">
    @Html.DisplayFor(x => x.FinalRestorationCompletedBy)
    @Html.DisplayFor(x => x.CompletedByOthers)
    @Html.DisplayFor(x => x.CompletedByOthersNotes)
    @Html.DisplayFor(x => x.FinalRestorationDueDate)
    @Html.DisplayFor(x => x.FinalRestorationNotes)
    @Html.DisplayFor(x => x.FinalPavingSquareFootage)
    @Html.DisplayFor(x => x.FinalRestorationMethodDisplay)
    @Html.DisplayFor(x => x.FinalRestorationInvoiceNumber)
    @Html.DisplayFor(x => x.FinalRestorationDate)
    @Html.DisplayFor(x => x.FinalRestorationTrafficControlCost)
    @Html.DisplayFor(x => x.FinalRestorationTrafficControlInvoiceNumber)
    @Html.DisplayFor(x => x.FinalRestorationPriorityUpchargeType)
    @Html.DisplayFor(x => x.FinalRestorationPriorityUpcharge)
    @Html.DisplayFor(x => x.FinalRestorationActualCost)
    @Html.DisplayFor(x => x.FinalRestorationApprovedAt)
    @Html.DisplayFor(x => x.FinalRestorationPurchaseOrderNumber)
</div>
