@model Restoration

<div class="field-column fc200">
    @Html.DisplayFor(x => x.WorkOrder)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.WorkOrder.StreetAddress)
    @Html.DisplayFor(x => x.WorkOrder.NearestCrossStreet)
    @Html.DisplayFor(x => x.WBSNumber)
    @Html.DisplayFor(x => x.RestorationType)
    @Html.DisplayFor(x => x.EstimatedRestorationFootage)
    @Html.DisplayFor(x => x.TotalAccruedCost)
    @Html.DisplayFor(x => x.RestorationNotes)
    @Html.DisplayFor(x => x.ResponsePriority)
    @Html.DisplayFor(x => x.CreatedByContractor)
    @Html.DisplayFor(x => x.CreatedByContractorAt)
    @Html.DisplayFor(x => x.AssignedContractor)
    @Html.DisplayFor(x => x.AssignedContractorAt)
    @Html.DisplayFor(x => x.EightInchStabilizeBaseByCompanyForces)
    @Html.DisplayFor(x => x.TrafficControlRequired)
    @Html.DisplayFor(x => x.InitialPurchaseOrderNumber)
    @Html.DisplayFor(x => x.AcknowledgedByContractor)
</div>
