@model Restoration

<div class="field-column fc200">
    @Html.DisplayFor(x => x.PartialRestorationCompletedBy)
    @Html.DisplayFor(x => x.PartialRestorationDueDate)
    @Html.DisplayFor(x => x.PartialRestorationNotes)
    @Html.DisplayFor(x => x.PartialPavingSquareFootage)
    @Html.DisplayFor(x => x.PartialRestorationBreakoutBilling)
    @Html.DisplayFor(x => x.PartialRestorationMethodsDisplay)
    @Html.DisplayFor(x => x.PartialRestorationInvoiceNumber)
    @Html.DisplayFor(x => x.PartialRestorationDate)
    @Html.DisplayFor(x => x.PartialRestorationTrafficControlCost)
    @Html.DisplayFor(x => x.PartialRestorationTrafficControlInvoiceNumber)
    @Html.DisplayFor(x => x.PartialRestorationPriorityUpchargeType)
    @Html.DisplayFor(x => x.PartialRestorationPriorityUpcharge)
    @Html.DisplayFor(x => x.PartialRestorationActualCost)
    @Html.DisplayFor(x => x.PartialRestorationStatus)
    @Html.DisplayFor(x => x.PartialRestorationPurchaseOrderNumber)
    @Html.DisplayFor(x => x.PartialRestorationApprovedAt)
</div>
