@model Restoration


<h2>
    @Html.DefaultActionLink(string.Format("Restoration: #{0}", Model.Id), "Show", "Restoration", "FieldOperations", new { id = @Model.Id }, null)
</h2>

<div class="field-column fc100">
    @Html.DisplayFor(x => x.WorkOrder)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.WorkOrder.StreetAddress)
    @Html.DisplayFor(x => x.WorkOrder.NearestCrossStreet)
    @Html.DisplayFor(x => x.WBSNumber)
</div>