@model MapCallMVC.Models.ViewModels.EditState

@using (Form.BeginForm("Update", "State", new {id = Model.Id}))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.Name)
        @Html.EditorFor(x => x.Abbreviation)
        @Html.EditorFor(x => x.ScadaTable)
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.AuthorizedActionLinkButton("Cancel", "Show", "State", new { id = Model.Id })
                           </text>)
    </div>
}