@model MapCallMVC.Areas.Environmental.Models.ViewModels.EnvironmentalPermits.CreateEnvironmentalPermitRequirement

<div class="field-column fc200">
    @Html.HiddenFor(x => x.OperatingCenters)
    @Html.HiddenFor(x => x.State)
    @Html.HiddenFor(x => x.RequiresRequirements)
    @Html.EditorFor(x => x.RequirementType)
    @Html.EditorFor(x => x.Requirement)
    @Html.EditorFor(x => x.ValueUnit)
    @Html.EditorFor(x => x.ValueDefinition)
    @Html.EditorFor(x => x.TrackingFrequency)
    @Html.EditorFor(x => x.ReportingFrequency)
    @Html.EditorFor(x => x.ReportingFrequencyDetails)
    @Html.EditorFor(x => x.ProcessOwner)
    @Html.EditorFor(x => x.ReportingOwner)
    @Html.EditorFor(x => x.ReportDataStorageLocation)
    @Html.EditorFor(x => x.ReportCreationInstructions)
    @Html.EditorFor(x => x.ReportSendTo)
    @Html.EditorFor(x => x.CommunicationType)
    @Html.EditorFor(x => x.CommunicationEmail)
    @Html.EditorFor(x => x.CommunicationLink)
    @Html.EditorFor(x => x.RequirementNotes)
</div>