@model EquipmentLifespanViewModel

@using (Form.BeginForm("Create", "EquipmentLifespan"))
{
    <div class="field-column fc200">
        @Html.EditorFor(x => x.Description)
        @Html.EditorFor(x => x.IsActive)
        @Html.EditorFor(x => x.EstimatedLifespan)
        @Html.EditorFor(x => x.ExtendedLifeMajor)
        @Html.EditorFor(x => x.ExtendedLifeMinor)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.AuthorizedActionLinkButton("Cancel", "Index", "EquipmentLifespan")
        </text>)
    </div>
}