@model ContractorMeterCrew

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Contractor)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.AMMeters)
    @Html.DisplayFor(x => x.AMLargeMeters)
    @Html.DisplayFor(x => x.PMMeters)
    @Html.DisplayFor(x => x.PMLargeMeters)
    @Html.DisplayFor(x => x.IsActive)
</div>

