@using MMSINC.Utilities
@model MapCall.Common.Model.ViewModels.ProductionWorkOrderEquipmentNotification

<h2>As Left Condition - Needs Emergency Repair Notification</h2>

Production Work Order Number: <a href="@Model.ProductionWorkOrderUrl">@Model.ProductionWorkOrderId</a><br />

Work Order Description: @Model.ProductionWorkDescription<br />

Corrective Problem Code: @Model.CorrectiveOrderProblemCode<br />

Operating Center: @Model.RoutineWorkOrder.OperatingCenter<br />

Facility Name: <a href="@Model.FacilityUrl">@Model.FacilityName</a><br />

Equipment Description: <a href="@Model.EquipmentUrl">@Model.Equipment.Description</a><br />

Routine Work Order Number: <a href="@Model.RoutineWorkOrderUrl">@Model.RoutineWorkOrder.Id</a><br />

Routine Work Order Description: @Model.RoutineWorkOrder.ProductionWorkDescription<br />

Routine Work Order Notes: @Model.RoutineWorkOrder.OrderNotes<br />

Date Created: @if(Model.DateReceived != null){@String.Format(CommonStringFormats.DATE_ZERO_PADDED, Model.DateReceived)}