@model SkillSet

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Name)
    @Html.DisplayFor(x => x.Abbreviation)
    @Html.DisplayFor(x => x.IsActive)
    @Html.DisplayFor(x => x.Description)
</div>