@model MeterChangeOutContract

<div class="field-column fc200">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Contractor)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.CreatedAt)
    @Html.DisplayFor(x => x.IsActive)
    @Html.RenderDisplayTemplate("", @<text>
                                               @Html.ActionLink("View All Associated Records", "Index", "MeterChangeOut", new { contract = Model.Id, area="FieldOperations"}, null)
                                            </text>)
</div>