@model MaintenancePlanTaskType

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.Abbreviation)
    @Html.DisplayFor(x => x.Code)
    @Html.DisplayFor(x => x.IsActive)
</div>