@model MapCall.Common.Model.ViewModels.BelowGroundHazardNotification

<h2>MapCall Notification - Below Ground Hazard Created</h2>

<a href="@Model.RecordUrl">"New Below Ground Hazard Created: @Model.CreatedBy: @Model.CreatedOn"</a><br/>

ID: @Model.BelowGroundHazard.Id<br/>
State: @Model.BelowGroundHazard.State<br/>
Operating Center: @Model.BelowGroundHazard.OperatingCenter<br/>
Town: @Model.BelowGroundHazard.Town<br/>
Hazard Type: @Model.BelowGroundHazard.HazardType<br/>
Asset Status: @Model.BelowGroundHazard.AssetStatus<br/>