@model MapCall.Common.Model.ViewModels.SewerOpeningNotification

<h2>Opening Status Change Notification</h2>

<a href="@Model.RecordUrl">View on Site</a><br />

Operating Center: @Model.SewerOpening.OperatingCenter<br />
Town: @Model.SewerOpening.Town<br />
Opening Number: @Model.SewerOpening.OpeningNumber<br />
Opening Type: @Model.SewerOpening.SewerOpeningType<br />
Opening Status: @Model.SewerOpening.Status<br />
Street: @Model.SewerOpening.Street<br />
WBS #: @Model.SewerOpening.TaskNumber<br />
Updated By:<br />
UserName: @Model.UserName<br />
Email: @Model.UserEmail<br />