@model Event
    
    <div class="field-column fc200">
        @Html.DisplayFor(x => x.OperatingCenter)
        @Html.DisplayFor(x => x.EventCategory)
        @Html.DisplayFor(x => x.EventSubcategory)
        @Html.DisplayFor(x => x.EventSummary)
        @Html.DisplayFor(x => x.IsActive)
        @Html.DisplayFor(x => x.RootCause)
        @Html.DisplayFor(x => x.ResponseActions)
        @Html.DisplayFor(x => x.EstimatedDurationHours)
        @Html.DisplayFor(x => x.NumberCustomersImpacted)
        @Html.DisplayFor(x => x.StartDate)
        @Html.DisplayFor(x => x.EndDate)
        @Html.DisplayFor(x => x.Owners)
        @Html.DisplayFor(x => x.Coordinate)
    </div>
