@model GISLayerUpdate

<div class="field-column fc200">
    @Html.DisplayFor(x => x.MapId)
    @Html.DisplayFor(x => x.Updated)
    @Html.DisplayFor(x => x.CreatedAt)
    @Html.DisplayFor(x => x.CreatedBy)
    @Html.DisplayFor(x => x.IsActive)
</div>