@model SearchEmployeeUserReconciliation

@{
    ViewBag.Title = "Employee Training";
}

@using (Form.BeginForm("Index", "EmployeeUserReconciliation", "Reports")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.EmployeeOperatingCenter)
        @Html.EditorFor(x => x.UserOperatingCenter)
        @Html.EditorFor(x => x.LastName)

        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Search").WithId("Search")
                               @Control.ResetButton()
                           </text>)
    </div>
}