@model ChemicalVendor

<div class="field-column fc200">
    @Html.DisplayFor(x => x.JdeVendorId)
    @Html.DisplayFor(x => x.Vendor)
    @Html.DisplayFor(x => x.OrderContact)
    @Html.DisplayFor(x => x.PhoneOffice)
    @Html.DisplayFor(x => x.PhoneCell)
    @Html.DisplayFor(x => x.Fax)
    @Html.DisplayFor(x => x.Email)
    @Html.DisplayFor(x => x.Address)
    @Html.DisplayFor(x => x.City)
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.Zip)
    @Html.DisplayFor(x => x.Coordinate)
</div>