@model WorkDescription
<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.AssetType)
    @Html.DisplayFor(x => x.WorkCategory)
    @Html.DisplayFor(x => x.TimeToComplete)
    @Html.DisplayFor(x => x.AccountingType)
    @Html.DisplayFor(x => x.FirstRestorationAccountingCode)
    @Html.DisplayFor(x => x.FirstRestorationCostBreakdown)
    @Html.DisplayFor(x => x.FirstRestorationProductCode)
    @Html.DisplayFor(x => x.SecondRestorationAccountingCode)
    @Html.DisplayFor(x => x.SecondRestorationCostBreakdown)
    @Html.DisplayFor(x => x.SecondRestorationProductCode)
    @Html.DisplayFor(x => x.ShowBusinessUnit)
    @Html.DisplayFor(x => x.ShowApprovalAccounting)
    @Html.DisplayFor(x => x.PlantMaintenanceActivityType)
    @Html.DisplayFor(x => x.Revisit)
    @Html.DisplayFor(x => x.MarkoutRequired)
    @Html.DisplayFor(x => x.MaterialsRequired)
    @Html.DisplayFor(x => x.JobSiteCheckListRequired)
    @Html.DisplayFor(x => x.DigitalAsBuiltRequired)
</div>