@model Street

<div class="field-column fc200">
    @Html.DisplayFor(x => x.Town.State)
    @Html.DisplayFor(x => x.Town.County)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.Prefix)
    @Html.DisplayFor(x => x.Name)
    @Html.DisplayFor(x => x.Suffix)
    @Html.DisplayFor(x => x.FullStName)
    @Html.DisplayFor(x => x.IsActive)
</div>