@model ServiceInstallationMaterial
    
<div class="field-column fc200">
    @Html.DisplayFor(x => x.Id)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.ServiceCategory)
    @Html.DisplayFor(x => x.SortOrder)
    @Html.DisplayFor(x => x.ServiceSize)
    @Html.DisplayFor(x => x.Description)
    @Html.DisplayFor(x => x.PartQuantity)
    @Html.DisplayFor(x => x.PartSize)
</div>