@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.SearchServiceInstallationMaterial

@using (Form.BeginForm("Index", "ServiceInstallationMaterial"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.State)
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.ServiceCategory)
        @Html.EditorFor(x => x.ServiceSize)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}