@model dynamic

<h2>Work Order Acoustic Monitoring Order Created</h2>

Work Order #: <a href="@Model.RecordUrl">@Model.Id</a><br />
Operating Center: @Model.OperatingCenter <br />
Town: @Model.Town <br />
Street #: @Model.StreetNumber <br />
Street: @Model.Street <br />
Nearest Cross Street: @Model.NearestCrossStreet <br />
Priority: @Model.Priority <br />
Purpose: @Model.Purpose <br/>
Acoustic Monitoring Type: @Model.AcousticMonitoringType <br />
Entered By: @Model.CreatedBy <br />
Work Description: @Model.WorkDescription <br />
Asset Type: @Model.AssetType <br />
Asset ID: @Model.AssetId <br />
SAP Notification #: @Model.SAPNotificationNumber <br />
SAP Work Order #: @Model.SAPWorkOrderNumber <br />
Date Received: @Model.DateReceived <br />