@using MapCall.Common.Model.Entities
@model dynamic
@{
    var purpose = (Model.GetType().GetProperty("Purpose") != null) ? Model.Purpose : Model.DrivenBy;
    var assetId = (Model.GetType().GetProperty("AssetId") != null) ? Model.AssetId : Model.AssetID;
}<h2>Work Order Completion Notification</h2>

Work Order #: <a href="@Model.RecordUrl">@Model.WorkOrderID</a><br />
SAP Work Order #: @Model.SAPWorkOrderNumber <br />
Town: @Model.Town <br />
Street #: @Model.StreetNumber <br />
Street: @Model.Street <br />
Asset Type: @Model.AssetType <br />
Asset ID: @assetId <br />
Premise #: @Model.PremiseNumber <br />
Requested By: @Model.RequestedBy <br />
Purpose: @purpose <br />
Work Description: @Model.WorkDescription <br />
Notes:<br />
@Model.Notes