@model dynamic

<h2>Equipment Repair Notification</h2>

Work Order #: @Model.Id <br />
Created On: @Model.CreatedAt <br />
Date Received: @Model.DateReceived <br/>
Created By: @Model.CreatedBy <br />
Work Description: @Model.WorkDescription <br />
Notes:<br />
@Model.Notes