@model MapCall.Common.Model.Entities.WorkOrder

<h2>A pitcher filter was not delivered to customer</h2>

Operating Center: @Model.OperatingCenter <br />
Address: @Model.StreetNumber @Model.Street<br />
Town: @Model.Town <br />
WO Completion Date: @Model.DateCompleted <br/>
WO Link: <a href="@Model.RecordUrl">@Model.Id</a> <br />
