@model MapCall.Common.Model.Entities.TrafficControlTicket

<h2>Traffic Control Ticket - Entered</h2>

Operating Center: @Model.OperatingCenter<br/>
Town: @Model.Town<br />
SAP WorkOrder: @Model.SAPWorkOrderNumber<br />
MapCall WorkOrder: @Model.WorkOrder<br />
Work Start: @Model.WorkStartDate<br />
Work End: @Model.WorkEndDate<br />
Total Hours: @Model.TotalHours<br />
Number of Officers: @Model.NumberOfOfficers<br />

@Model.RecordUrl<br />