@model Regulation

<div class="field-column fc200">
    @Html.DisplayFor(x => x.CreatedAt)
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.RegulationShort)
    @Html.DisplayFor(x => x.Title)
    @Html.DisplayFor(x => x.Agency)
    @Html.DisplayFor(x => x.Statute)
    @Html.DisplayFor(x => x.Citation)
    @Html.DisplayFor(x => x.EffectiveDate)
    @Html.DisplayFor(x => x.Purpose)
    @Html.DisplayFor(x => x.GeneralDescription)
    @Html.DisplayFor(x => x.Requirements)
    @Html.DisplayFor(x => x.UtilitiesCovered)
    @Html.DisplayFor(x => x.CostImpact)
    @Html.DisplayFor(x => x.Notes)
    @Html.DisplayFor(x => x.AllAreas)
    @Html.DisplayFor(x => x.FieldOperations)
    @Html.DisplayFor(x => x.Production)
    @Html.DisplayFor(x => x.Environmental)
    @Html.DisplayFor(x => x.WaterQuality)
    @Html.DisplayFor(x => x.Engineering)
</div>