@model MapCallMVC.Areas.WaterQuality.Models.ViewModels.SampleSites.SampleSiteViewModel

<div class="field-column fc400">
    @Html.EditorFor(x => x.ResourceDistributionMaps)
    @Html.EditorFor(x => x.ResourceCapitalImprovement)
    @Html.EditorFor(x => x.ResourceUtilityRecords)
    @Html.EditorFor(x => x.ResourceSamplingResults)
    @Html.EditorFor(x => x.ResourceInterviewsPersonnel)
    @Html.EditorFor(x => x.ResourceCommunitySurvey)
    @Html.EditorFor(x => x.ResourceCountyAppraisal)
    @Html.EditorFor(x => x.ResourceContacts)
    @Html.EditorFor(x => x.ResourceSurveyResults)
    @Html.EditorFor(x => x.ResourceInterviewsResidents)
    @Html.EditorFor(x => x.ResourceInterviewsContractors)
    @Html.EditorFor(x => x.ResourceLeadCheckSwabs)
    @Html.EditorFor(x => x.OtherSources)
    @Html.EditorFor(x => x.SampleSitePointOfUseTreatmentType)
    @Html.EditorFor(x => x.PointOfUseTreatmentTypeOtherReason)
    @Html.EditorFor(x => x.PreviousMonitoringPeriod)
</div>