@model SampleSite

<div class="field-column fc400">
    @Html.DisplayFor(x => x.IsRegularSite)
    @Html.DisplayFor(x => x.IsAlternateSite)
    @Html.DisplayFor(x => x.ResourceDistributionMaps)
    @Html.DisplayFor(x => x.ResourceCapitalImprovement)
    @Html.DisplayFor(x => x.ResourceUtilityRecords)
    @Html.DisplayFor(x => x.ResourceSamplingResults)
    @Html.DisplayFor(x => x.ResourceInterviewsPersonnel)
    @Html.DisplayFor(x => x.ResourceCommunitySurvey)
    @Html.DisplayFor(x => x.ResourceCountyAppraisal)
    @Html.DisplayFor(x => x.ResourceContacts)
    @Html.DisplayFor(x => x.ResourceSurveyResults)
    @Html.DisplayFor(x => x.ResourceInterviewsResidents)
    @Html.DisplayFor(x => x.ResourceInterviewsContractors)
    @Html.DisplayFor(x => x.ResourceLeadCheckSwabs)
    @Html.DisplayFor(x => x.OtherSources)
    @Html.DisplayFor(x => x.SampleSitePointOfUseTreatmentType)
    @Html.DisplayFor(x => x.PointOfUseTreatmentTypeOtherReason)
</div>