@model SampleSite

<div class="esri-info">
    <h2>
        @Html.DefaultActionLink(Model.CommonSiteName ?? "(Unnamed Site)", "Show", "SampleSite", "WaterQuality", new { id = Model.Id }, new { target = "_blank" })
    </h2>
    @Html.DefaultActionLink("New Sample", "New", "WaterSample", "WaterQuality", new { id = Model.Id }, new { Class="link-button"})
    @Html.DefaultActionLink("New Bacti Sample", "New", "BacterialWaterSample", "WaterQuality", new { id = Model.Id }, new { Class = "link-button" })
    <div class="field-column fc100">
        @Html.DisplayFor(x => x.CommonSiteName)
        @Html.DisplayFor(x => x.LocationNameDescription)
        @Html.DisplayFor(x => x.Status)
        @Html.DisplayFor(x => x.Availability)
        @Html.DisplayFor(x => x.FullAddress)
    </div>
</div>