@model IEnumerable<BacterialWaterSampleRequirementReportViewModel>
@{
    ActionBarHelper.AddExportLink();
}

<table id="results" style="width:auto;">
    <thead>
        <tr>
            <th>PWSID</th>
            <th>PWSID System</th>
            <th>Type</th>
            <th>Year</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            if (x != null)
            {
                <tr>
                    <td>@x.PublicWaterSupply</td>
                    <td>@x.PublicWaterSupply.System</td>
                    <td>@x.BacterialSampleType</td>
                    <td>@x.Year</td>
                    <td>@Html.DisplayValueFor(_ => x.Jan)</td>
                    <td>@Html.DisplayValueFor(_ => x.Feb)</td>
                    <td>@Html.DisplayValueFor(_ => x.Mar)</td>
                    <td>@Html.DisplayValueFor(_ => x.Apr)</td>
                    <td>@Html.DisplayValueFor(_ => x.May)</td>
                    <td>@Html.DisplayValueFor(_ => x.Jun)</td>
                    <td>@Html.DisplayValueFor(_ => x.Jul)</td>
                    <td>@Html.DisplayValueFor(_ => x.Aug)</td>
                    <td>@Html.DisplayValueFor(_ => x.Sep)</td>
                    <td>@Html.DisplayValueFor(_ => x.Oct)</td>
                    <td>@Html.DisplayValueFor(_ => x.Nov)</td>
                    <td>@Html.DisplayValueFor(_ => x.Dec)</td>
                </tr>
            }
        }
    </tbody>
</table>