@model Contractors.Models.ViewModels.CreateMainBreak

<div style="width:500px;">
    @using (var f = Form.BeginAjaxForm("Create", "MainBreak", new { mainBreak = Model.Id, Model.WorkOrder }))
    {
        f.HtmlAttributes["title"] = "Add New Main Break";
        @Control.HiddenFor(x => x.DisplayFootageReplaced)
        <div class="field-column fc150">
            @Html.EditorFor(m => m.MainBreakMaterial)
            @Html.EditorFor(m => m.FootageReplaced)
            @Html.EditorFor(m => m.ReplacedWith)
            @Html.EditorFor(m => m.MainCondition)
            @Html.EditorFor(m => m.MainFailureType)
            @Html.EditorFor(m => m.Depth)
            @Html.EditorFor(m => m.MainBreakSoilCondition)
            @Html.EditorFor(m => m.CustomersAffected)
            @Html.EditorFor(m => m.ShutdownTime)
            @Html.EditorFor(m => m.MainBreakDisinfectionMethod)
            @Html.EditorFor(m => m.MainBreakFlushMethod)
            @Html.EditorFor(m => m.ChlorineResidual)
            @Html.EditorFor(m => m.BoilAlertIssued)
            @Html.EditorFor(m => m.ServiceSize)
        </div>
        @Html.Partial("_DialogButtons", "Save Main Break")
    }
</div>