@model MapCallMVC.Areas.Contractors.Models.ViewModels.EditContractorAgreement

@using (Form.BeginForm("Update", "ContractorAgreement", "Contractors", new { id = Model.Id }))
{
    <div class="field-column fc200">
        @Html.DisplayFor(x => x.Id)
        @Html.Partial("_Form", Model)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Save")
            @Html.LinkButton("Cancel", "Show", "ContractorAgreement", new { Model.Id })
        </text>)
    </div>
}