@using MapCall.Common.Model.Entities.Users
@using MMSINC.Authentication
@using MMSINC.Metadata
@model MaterialUsed

<tr>
	@if (Model.Material != null)
    {
        <td>@Html.DisplayTextFor(x => x.Material.PartNumber)</td>
    }
    else
    {
        <td>N/A</td>
    }
    @if (Model.StockLocation != null)
    {
        <td>@Html.DisplayTextFor(x => x.StockLocation)</td>
    }
    else
    {
        <td>N/A</td>
    }
    @if (Model.StockLocation != null)
    {
        <td>@Html.DisplayTextFor(x => x.StockLocation.SAPStockLocation)</td>
    }
    else
    {
        <td>N/A</td>
    }
    @if (Model.Material != null)
    {
        <td>@Html.DisplayTextFor(x => x.Material.Description)</td>
    }
    else
    {
        <td>@Html.DisplayTextFor(x => x.NonStockDescription)</td>
    }
	<td>@Html.DisplayTextFor(x => x.Quantity)</td>
	<td>
		<div>
			@Ajax.ActionLink("Edit", "Edit", "MaterialUsed", new { Model.Id }, new AjaxOptions { HttpMethod = "GET" })
		</div>
		<div>
			@{
				var meh = Ajax.SecureActionLink<User>(_container.GetInstance<ISecureFormTokenService>(), _container.GetInstance<IAuthenticationService<User>>().CurrentUser,
					"Delete", "Destroy", "MaterialUsed", new { area = "FieldOperations", id = Model.Id }, new AjaxOptions { HttpMethod = "DELETE", Confirm = "Are you sure you want to delete this record?" });
				@meh
			}
		</div>
	</td>
</tr>