
@model Crew

<fieldset>
    <legend>Crew Details</legend>
    <div class="field-column fc200">
        @Html.DisplayFor(x => x.Id)
        @Html.DisplayFor(x => x.Description)
        @Html.DisplayFor(x => x.Availability)
        @Html.DisplayFor(x => x.Active)
        @Html.DisplayFor(x => x.OperatingCenter.Description)
    </div>
</fieldset>