@model MapCall.Common.Model.ViewModels.CrewWorkOrderDetails

<tr>
    <td>@Html.DisplayTextFor(x => x.Id)</td>
    <td>@Html.DisplayTextFor(x => x.DateReceived)</td>
    <td>@Html.DisplayTextFor(x => x.StreetNumber)</td>
    <td>@Html.DisplayTextFor(x => x.Street)</td>
    <td>@Html.DisplayTextFor(x => x.NearestCrossStreet)</td>
    <td>@Html.DisplayTextFor(x => x.Town)</td>
    <td>@Html.DisplayTextFor(x => x.TownSection)</td>
    <td>@Html.DisplayTextFor(x => x.WorkDescription)</td>
    <td>@Html.DisplayTextFor(x => x.MarkoutRequired)</td>
</tr>