@model Easement

<div class="field-column fc200">
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.TownSection)
    @Html.DisplayFor(x => x.StreetNumber)
    @Html.DisplayFor(x => x.Street)
    @Html.DisplayFor(x => x.CrossStreet)
    @Html.DisplayFor(x => x.Coordinate.Latitude)
    @Html.DisplayFor(x => x.Coordinate.Longitude)
    @Html.DisplayFor(x => x.RecordNumber)
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.Category)
    @Html.DisplayFor(x => x.Wbs)
    @Html.DisplayFor(x => x.EasementDescription)
    @Html.DisplayFor(x => x.Reason)
    @Html.DisplayFor(x => x.Type)
    @Html.DisplayFor(x => x.DateRecorded)
    @Html.DisplayFor(x => x.DeedBook)
    @Html.DisplayFor(x => x.DeedPage)
    @Html.DisplayFor(x => x.BlockLot)
    @Html.DisplayFor(x => x.GrantorType)
    @Html.DisplayFor(x => x.OwnerName)
    @Html.DisplayFor(x => x.OwnerAddress)
    @Html.DisplayFor(x => x.OwnerPhone)
</div>