@model ChemicalUnitCost

<div class="field-column fc200">
@Html.DisplayFor(x => x.Chemical)
@Html.DisplayFor(x => x.WarehouseNumber)
@Html.DisplayFor(x => x.Vendor)
@Html.DisplayFor(x => x.StartDate)
@Html.DisplayFor(x => x.EndDate)
@Html.DisplayFor(x => x.PricePerPoundWet)
@Html.DisplayFor(x => x.PoNumber)
@Html.DisplayFor(x => x.ChemicalLeadTimeDays)
@Html.DisplayFor(x => x.ChemicalOrderingProcess)
</div>