@model MapCallMVC.Areas.Environmental.Models.ViewModels.SearchChemicalUnitCost

@using (Form.BeginForm("Index", "ChemicalUnitCost")) {
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.Chemical)
        @Html.EditorFor(x => x.PartNumber)
        @Html.EditorFor(x => x.PoNumber)
        @Html.EditorFor(x => x.WarehouseNumber)
        @Html.EditorFor(x => x.StartDate)
        @Html.EditorFor(x => x.EndDate)

        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}