@model InvestmentProject

<h2>
    Investment Project:
    @Html.DefaultActionLink(@Model.Id.ToString(), "Show", "InvestmentProject", "ProjectManagement", new { id = @Model.Id }, null)
</h2>

<div class="field-column fc100">
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.CPSReferenceYear)
    @Html.DisplayFor(x => x.CPSPriorityNumber)
    @Html.DisplayFor(x => x.ProjectCategory)
    @Html.DisplayFor(x => x.ProjectNumber)
    @Html.DisplayFor(x => x.ApprovalStatus)
    @Html.DisplayFor(x => x.ProjectStatus)
    @Html.DisplayFor(x => x.BusinessUnit)
    @Html.DisplayFor(x => x.ProjectDescription)
    @Html.DisplayFor(x => x.ProjectObstacles)
    @Html.DisplayFor(x => x.ProjectRisks)
    @Html.DisplayFor(x => x.ProjectApproach)
    @Html.DisplayFor(x => x.DurationLandAcquisitionInMonths)
    @Html.DisplayFor(x => x.DurationPermitDesignInMonths)
    @Html.DisplayFor(x => x.DurationConstructionInMonths)
    @Html.DisplayFor(x => x.ProjectDurationMonths)
    @Html.DisplayFor(x => x.TargetStartDate)
    @Html.DisplayFor(x => x.TargetEndDate)
    @Html.DisplayFor(x => x.ForecastedInServiceDate)
    @Html.DisplayFor(x => x.InServiceDate)
    @Html.DisplayFor(x => x.ControlDate)
    @Html.DisplayFor(x => x.EstimatedProjectCost)
    @Html.DisplayFor(x => x.FinalProjectCost)
    @Html.DisplayFor(x => x.AssetOwner)
    @Html.DisplayFor(x => x.ProjectManager)
    @Html.DisplayFor(x => x.ConstructionManager)
    @Html.DisplayFor(x => x.CompanyInspector)
    @Html.DisplayFor(x => x.ContractedInspector)
    @Html.DisplayFor(x => x.EngineeringContractor)
    @Html.DisplayFor(x => x.ConstructionContractor)
    @Html.DisplayFor(x => x.PublicWaterSupply)
    @Html.DisplayFor(x => x.Facility)
    @Html.DisplayFor(x => x.StreetName)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.CIMDate)
    @Html.DisplayFor(x => x.Phase)
    @Html.DisplayFor(x => x.ProjectFlagged)
    @Html.DisplayFor(x => x.CurrentYearActive)
    @Html.DisplayFor(x => x.BulkSale)
    @Html.DisplayFor(x => x.RateCase)
    @Html.DisplayFor(x => x.MISDates)
    @Html.DisplayFor(x => x.COE)
    @Html.DisplayFor(x => x.Geography)
    @Html.DisplayFor(x => x.PPDate)
    @Html.DisplayFor(x => x.PPScore)
    @Html.DisplayFor(x => x.PPWorkOrder)
    @Html.DisplayFor(x => x.AssetCategory)
</div>
