@model MapCallMVC.Areas.Production.Models.ViewModels.SearchNonRevenueWaterEntry

@using (Form.BeginForm("Index", "NonRevenueWaterEntry", "Production"))
{
    <div class="field-column fc200 searchFields">
        @Html.EditorFor(x => x.OperatingCenter)
        @Html.EditorFor(x => x.Month)
        @Html.EditorFor(x => x.Year)
        @Html.ButtonGroup(@<text>
            @Control.SubmitButton("Search").WithId("Search")
            @Control.ResetButton()
        </text>)
    </div>
}