@model Bond

<div class="field-column fc200">
    @Html.DisplayFor(x => x.BondNumber)
    @Html.DisplayFor(x => x.Principal)
    @Html.DisplayFor(x => x.Obligee)
    @Html.DisplayFor(x => x.OperatingCenter)
    @Html.DisplayFor(x => x.State)
    @Html.DisplayFor(x => x.County)
    @Html.DisplayFor(x => x.Town)
    @Html.DisplayFor(x => x.BondType)
    @Html.DisplayFor(x => x.RecurringBond)
    @Html.DisplayFor(x => x.BondPurpose)
    @Html.DisplayFor(x => x.BondingAgency)
    @Html.DisplayFor(x => x.BondValue)
    @Html.DisplayFor(x => x.AnnualPremium)
    @Html.DisplayFor(x => x.StartDate)
    @Html.DisplayFor(x => x.EndDate)
    @Html.DisplayFor(x => x.BondOpen)
</div>