@model MapCallMVC.Areas.FieldOperations.Models.ViewModels.EditBond

@using (Form.BeginForm("Update", "Bond", "FieldOperations", new {Model.Id})) {
    <div class="field-column fc200">
        @Html.Partial("_FormFields", Model)
        @Html.HiddenFor(x => x.PermitsBondId)
        @Html.ButtonGroup(@<text>
                               @Control.SubmitButton("Save")
                               @Html.LinkButton("Cancel", "Show", "Bond", new {Model.Id})
                           </text>)
    </div>
}